In [1]:
import math
import numpy as np

In [2]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_CHANNEL_SEASONALITY_NEW', engine)

In [3]:
# 컬럼명 대문자
customerData.columns = [x.upper() for x in customerData.columns]

In [4]:
customerData=customerData.sort_values(["REGIONID","PRODUCT","YEARWEEK"], ascending=[True,True,True])

### 음수(반품)는 0으로 고정

In [5]:
customerData["QTY"] = np.\
where(customerData["QTY"] < 0, 0, customerData["QTY"])
customerData.head()

     REGIONID    PRODUCT YEARWEEK    QTY
298       A00  PRODUCT34   201401  661.0
1757      A00  PRODUCT34   201402  679.0
3125      A00  PRODUCT34   201403  578.0
205       A00  PRODUCT34   201404  532.0
4369      A00  PRODUCT34   201405  516.0

In [6]:
# 인덱스 다시 설정
sortedData = customerData.reset_index(drop=True)
sortedData.head(5)

  REGIONID    PRODUCT YEARWEEK    QTY
0      A00  PRODUCT34   201401  661.0
1      A00  PRODUCT34   201402  679.0
2      A00  PRODUCT34   201403  578.0
3      A00  PRODUCT34   201404  532.0
4      A00  PRODUCT34   201405  516.0

### 이동평균(판매추세량) 함수

In [7]:
def sub_function(data):
    data = data.reset_index(drop=True)
    data["TEST"]=data["QTY"].rolling(window=13,center=True).mean()
    
    suborder=math.floor(13/2)
   
    list=[]
    maxLength=len(data)-1
    for i in range(0,suborder):
        list.append(data['QTY'][0:i+suborder+1].mean())
        data.loc[i,"TEST"]=list[i]
    
    list1=[]
    for i in range(0,suborder):
        list1.append(data['QTY'][-i-suborder-1:].mean())
        data['TEST'][maxLength-i]=list1[i]
        
    return data

### 정제된 판매량의 이동평균 함수

In [8]:
def smoo_function(data):
    data = data.reset_index(drop=True)
    data["SMOOTH"]=data["REFINE_QTY"].rolling(window=5,center=True).mean()
    
    suborder=math.floor(5/2)
   
    list=[]
    maxLength=len(data)-1
    for i in range(0,suborder):
        list.append(data['REFINE_QTY'][0:i+suborder+1].mean())
        data.loc[i,"SMOOTH"]=list[i]
    
    list1=[]
    for i in range(0,suborder):
        list1.append(data['REFINE_QTY'][-i-suborder-1:].mean())
        data['SMOOTH'][maxLength-i]=list1[i]
        
    return data

### 변동률(판매추세량의 표준편차) 함수

In [9]:
def std_function(data):
    data = data.reset_index(drop=True)
    data["STDEV"]=data["TEST"].rolling(window=5,center=True).std()
    
    suborder=math.floor(5/2)
   
    list=[]
    maxLength=len(data)-1
    for i in range(0,suborder):
        list.append(data['TEST'][0:i+suborder+1].std())
        data.loc[i,"STDEV"]=list[i]
    
    list1=[]
    for i in range(0,suborder):
        list1.append(data['TEST'][-i-suborder-1:].std())
        data['STDEV'][maxLength-i]=list1[i]
        
    return data

#### 이동평균(판매추세량) 구하기

In [17]:
groupResult = sortedData.groupby(['REGIONID','PRODUCT']).apply(sub_function)
aa=groupResult.reset_index(drop=True)

In [18]:
aa.head()

  REGIONID    PRODUCT YEARWEEK    QTY        TEST
0      A00  PRODUCT34   201401  661.0  542.285714
1      A00  PRODUCT34   201402  679.0  520.000000
2      A00  PRODUCT34   201403  578.0  514.444444
3      A00  PRODUCT34   201404  532.0  516.800000
4      A00  PRODUCT34   201405  516.0  503.363636

#### 변동률 구하기

In [19]:
bb = aa.groupby(['REGIONID','PRODUCT']).apply(std_function)

#### 상한/하한구하기

In [20]:
bb["HIGH"]=bb["TEST"]+bb["STDEV"]
bb["LOW"]=bb["TEST"]-bb["STDEV"]

#### 정제된 판매량 구하기

In [21]:
bb['REFINE_QTY']=np.where(bb['QTY']>bb['HIGH'],bb['HIGH'],\
        np.where(bb['QTY']<bb['LOW'],bb['LOW'],bb['QTY']))

#### 스무딩처리 구하기

In [22]:
cc = bb.groupby(['REGIONID','PRODUCT']).apply(smoo_function)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [23]:
dd=cc.reset_index(drop=True)
dd.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,TEST,STDEV,HIGH,LOW,REFINE_QTY,SMOOTH
0,A00,PRODUCT34,201401,661.0,542.285714,14.734617,557.020331,527.551098,557.020331,539.507981
1,A00,PRODUCT34,201402,679.0,520.000000,12.806131,532.806131,507.193869,532.806131,536.831734
2,A00,PRODUCT34,201403,578.0,514.444444,14.253036,528.697481,500.191408,528.697481,532.665387
3,A00,PRODUCT34,201404,532.0,516.800000,12.002994,528.802994,504.797006,528.802994,514.586876
4,A00,PRODUCT34,201405,516.0,503.363636,15.591135,518.954771,487.772501,516.000000,497.704610

### 계절성지수산출(안정된 시장/ 불안정 시장)
#### 안정된 시장 = 실제판매량/스무딩처리   || 불안정 시장 = 정제된 판매량/스무딩처리

In [26]:
dd["STABLE"] = dd["QTY"]/dd["SMOOTH"]
dd["UNSTABLE"] = dd["REFINE_QTY"]/dd["SMOOTH"]
dd

,REGIONID,PRODUCT,YEARWEEK,QTY,TEST,STDEV,HIGH,LOW,REFINE_QTY,SMOOTH,STABLE,UNSTABLE
0,A00,PRODUCT34,201401,661.0,542.285714,14.734617,557.020331,527.551098,557.020331,539.507981,1.225190,1.032460
1,A00,PRODUCT34,201402,679.0,520.000000,12.806131,532.806131,507.193869,532.806131,536.831734,1.264828,0.992501
2,A00,PRODUCT34,201403,578.0,514.444444,14.253036,528.697481,500.191408,528.697481,532.665387,1.085109,0.992551
3,A00,PRODUCT34,201404,532.0,516.800000,12.002994,528.802994,504.797006,528.802994,514.586876,1.033839,1.027626
4,A00,PRODUCT34,201405,516.0,503.363636,15.591135,518.954771,487.772501,516.000000,497.704610,1.036760,1.036760
5,A00,PRODUCT34,201406,423.0,490.750000,24.122226,514.872226,466.627774,466.627774,475.126508,0.890289,0.982113
6,A00,PRODUCT34,201407,407.0,480.230769,31.835969,512.066738,448.394800,448.394800,462.229081,0.880516,0.970071
7,A00,PRODUCT34,201408,364.0,453.384615,37.577643,490.962258,415.806973,415.806973,447.085420,0.814162,0.930039
8,A00,PRODUCT34,201409,470.0,423.846154,40.469705,464.315859,383.376449,464.315859,427.559865,1.099261,1.085967
9,A00,PRODUCT34,201410,538.0,401.230769,39.050923,440.281692,362.179847,440.281692,408.280905,1.317720,1.078379
10,A00,PRODUCT34,201411,369.0,378.538462,36.567721,415.106183,341.970740,369.000000,395.919510,0.932008,0.932008
11,A00,PRODUCT34,201412,352.0,352.692308,35.529528,388.221835,317.162780,352.000000,365.456338,0.963179,0.963179
12,A00,PRODUCT34,201413,354.0,332.538462,33.564060,366.102522,298.974401,354.000000,336.400000,1.052319,1.052319
13,A00,PRODUCT34,201414,312.0,312.000000,34.314875,346.314875,277.685125,312.000000,319.400000,0.976832,0.976832
14,A00,PRODUCT34,201415,295.0,292.923077,40.540410,333.463487,252.382667,295.000000,296.400000,0.995277,0.995277
15,A00,PRODUCT34,201416,284.0,264.307692,43.641337,307.949029,220.666356,284.000000,261.600000,1.085627,1.085627
16,A00,PRODUCT34,201417,237.0,229.307692,43.686328,272.994020,185.621364,237.000000,231.400000,1.024201,1.024201
17,A00,PRODUCT34,201418,180.0,206.384615,39.767170,246.151785,166.617445,180.000000,200.400000,0.898204,0.898204
18,A00,PRODUCT34,201419,161.0,184.307692,34.077505,218.385197,150.230188,161.000000,167.978824,0.958454,0.958454
19,A00,PRODUCT34,201420,140.0,161.692308,29.843894,191.536201,131.848414,140.000000,144.541647,0.968579,0.968579
20,A00,PRODUCT34,201421,116.0,144.000000,22.105878,166.105878,121.894122,121.894122,131.367429,0.883019,0.927887
21,A00,PRODUCT34,201422,98.0,132.923077,13.108965,146.032042,119.814112,119.814112,124.575212,0.786673,0.961781
22,A00,PRODUCT34,201423,83.0,132.153846,18.024933,150.178780,114.128913,114.128913,125.203022,0.662923,0.911551
23,A00,PRODUCT34,201424,71.0,154.846154,27.807240,182.653394,127.038914,127.038914,134.062938,0.529602,0.947607
24,A00,PRODUCT34,201425,65.0,175.538462,32.399412,207.937873,143.139050,143.139050,147.155607,0.441709,0.972705
25,A00,PRODUCT34,201426,60.0,196.461538,30.267838,226.729376,166.193701,166.193701,165.483232,0.362574,1.004293
26,A00,PRODUCT34,201427,82.0,213.692308,28.414847,242.107155,185.277460,185.277460,194.278375,0.422075,0.953670
27,A00,PRODUCT34,201428,151.0,231.384615,25.617579,257.002194,205.767036,205.767036,221.682531,0.681154,0.928206
28,A00,PRODUCT34,201429,274.0,247.846154,23.168472,271.014626,224.677682,271.014626,246.373889,1.112131,1.100014
29,A00,PRODUCT34,201430,532.0,260.230769,19.929061,280.159830,240.301709,280.159830,268.841462,1.978861,1.042101
...,...,...,...,...,...,...,...,...,...,...,...,...
124628,A77,PRODUCT12,201623,5348.0,3893.846154,234.585127,4128.431281,3659.261027,4128.431281,4005.755788,1.335079,1.030625
124629,A77,PRODUCT12,201624,3275.0,4178.384615,306.569940,4484.954556,3871.814675,3871.814675,4210.944643,0.777735,0.919465
124630,A77,PRODUCT12,201625,4158.0,4452.615385,309.322569,4761.937953,4143.292816,4158.000000,4298.256665,0.967369,0.967369
124631,A77,PRODUCT12,201626,4815.0,4580.538462,197.288644,4777.827105,4383.249818,4777.827105,4387.071315,1.097543,1.089070
124632,A77,PRODUCT12,201627,3002.0,4635.538462,80.328199,4715.866660,4555.210263,4555.210263,4502.818816,0.666693,1.011635
124633,A77,PRODUCT12,201628,3319.0,4658.615385,86.110851,4744.726236,4572.504533,4572.504533,4578.383289,0.724928,0.998716
124634,A77,PRODUCT12,201629,4200.0,4561.461538,110.909358,4672.370897,4450.552180,4450.552180,4579.094916,0.917212,0.971928
124635,A77,PRODUCT12,201630,7120.0,4437.923077,97.899287,4535.822364,4340.023790,4535.822364,4667.132431,1.525562,0.971865
124636,A77,PRODUCT12,201631,6345.0,4416.923077,364.462161,4781.385238,4052.460916,4781.385238,4715.060360,1.345688,1.014067
124637,A77,PRODUCT12,201632,5863.0,4526.538462,468.859376,4995.397837,4057.679086,4995.397837,4817.719016,1.216966,1.036880
124638,A77,PRODUCT12,201633,4211.0,5289.538462,477.394280,5766.932742,4812.144181,4812.144181,4978.113374,0.845903,0.966660
124639,A77,PRODUCT12,201634,4019.0,5335.769231,371.923771,5707.693002,4963.845459,4963.845459,5078.475092,0.791379,0.977428
124640,A77,PRODUCT12,201635,3624.0,5388.923077,51.128924,5440.052001,5337.794153,5337.794153,5103.863475,0.710050,1.045834
124641,A77,PRODUCT12,201636,3742.0,5396.000000,112.806170,5508.806170,5283.193830,5283.193830,5199.276982,0.719715,1.016140
124642,A77,PRODUCT12,201637,3002.0,5291.384615,169.044866,5460.429482,5122.339749,5122.339749,5234.663859,0.573485,0.978542
124643,A77,PRODUCT12,201638,5583.0,5119.384615,169.827101,5289.211717,4949.557514,5289.211717,5160.558735,1.081860,1.024930
124644,A77,PRODUCT12,201639,14734.0,5015.000000,125.779847,5140.779847,4889.220153,5140.779847,5089.778232,2.894822,1.010020
124645,A77,PRODUCT12,201640,3603.0,5018.384615,51.116082,5069.500697,4967.268533,4967.268533,5040.683124,0.714784,0.985436
124646,A77,PRODUCT12,201641,4010.0,4984.153846,54.862534,5039.016380,4929.291312,4929.291312,5040.695576,0.795525,0.977899
124647,A77,PRODUCT12,201642,4292.0,5024.769231,147.905019,5172.674250,4876.864212,4876.864212,5033.724058,0.852649,0.968838
124648,A77,PRODUCT12,201643,5760.0,5128.153846,161.120132,5289.273978,4967.033714,5289.273978,5045.737340,1.141558,1.048266
124649,A77,PRODUCT12,201644,4109.0,5346.923077,241.000823,5587.923899,5105.922254,5105.922254,4953.729676,0.829476,1.030723
124650,A77,PRODUCT12,201645,4506.0,5296.923077,269.588133,5566.511210,5027.334944,5027.334944,4904.219976,0.918801,1.025104
124651,A77,PRODUCT12,201646,4255.0,4744.384615,275.131626,5019.516241,4469.252989,4469.252989,4811.861437,0.884273,0.928799
124652,A77,PRODUCT12,201647,3574.0,4839.500000,210.184284,5049.684284,4629.315716,4629.315716,4798.467248,0.744821,0.964749
124653,A77,PRODUCT12,201648,4152.0,4914.909091,87.427811,5002.336902,4827.481280,4827.481280,4784.153362,0.867865,1.009057
124654,A77,PRODUCT12,201649,5086.0,4977.200000,61.751309,5038.951309,4915.448691,5038.951309,4876.902764,1.042875,1.033228
124655,A77,PRODUCT12,201650,5846.0,4890.222222,65.543294,4955.765516,4824.678929,4955.765516,4979.114587,1.174104,0.995311
124656,A77,PRODUCT12,201651,4933.0,4987.875000,68.310645,5056.185645,4919.564355,4933.000000,5017.022913,0.983252,0.983252
124657,A77,PRODUCT12,201652,7551.0,5056.714286,83.660544,5140.374829,4973.053742,5140.374829,5009.713448,1.507272,1.026082