### 1.딕셔너리를 활용한 데이터 분석을 위한 자료구조 생성

In [9]:
# 데이터 프레임 라이브러리 활용
import pandas as pd

# 딕셔너리를 활용한 데이터프레임 생성
data = {'name': ['A고객','B고객','C고객','D고객'],
        'age': [27,40,33,29],
        'stock_age': [2,10,5,1]}
dataFrame = pd.DataFrame(data)

# 데이터 프레임 : 스프레드시트 형태의 자료구조
print(dataFrame)
type(dataFrame)

   age name  stock_age
0   27  A고객          2
1   40  B고객         10
2   33  C고객          5
3   29  D고객          1

pandas.core.frame.DataFrame

In [33]:
#dataFrame 순서 변환시 or 원하는 컬럼만 가져올때 사용
dataFrame[["name","age"]]

  name  age
0  A고객   27
1  B고객   40
2  C고객   33
3  D고객   29

### 2.리스트를 활용한 데이터 분석을 위한 자료구조 생성

In [13]:
import pandas as pd
# 리스트 생성
test = [10,100,1000,10000]
# 데이터프레임 변환
testDf = pd.DataFrame(test)
testDf

       0
0     10
1    100
2   1000
3  10000

In [15]:
testDf.columns=["test"]
testDf

    test
0     10
1    100
2   1000
3  10000

In [16]:
import pandas as pd
date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']
date2 = ['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23']

In [22]:
date_df = pd.DataFrame(date, columns=['date1'])
date_df

      date1
0  16.02.29
1  16.02.26
2  16.02.25
3  16.02.24
4  16.02.23

In [23]:
date_df2 = pd.DataFrame(date2, columns=['date2'])
date_df2

      date2
0  17.02.29
1  17.02.26
2  17.02.25
3  17.02.24
4  17.02.23

In [26]:
final = pd.concat([date_df,date_df2], axis = 1)
final

      date1     date2
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23

In [30]:
#Pandas DataFrame연습
data1 = {'a_name': ['채성은','성으니','으니이'],
        'c_age': [27,24,33],
        'birthday': ["92.05.28","04.03","01.01"]}
dataFrame1 = pd.DataFrame(data1)
dataFrame1

  a_name  birthday  c_age
0    채성은  92.05.28     27
1    성으니     04.03     24
2    으니이     01.01     33