# 1. 데이터 불러오기 from csv

In [6]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID2','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
    
# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", index=False)
customerData.head()
# default = index = True, header = True, additional info, encoding = ‘ms949’, na_rep = ‘-’

  CUSTID2     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

# 2. 데이터 불러오기 from 데이터베이스(Oracle)

In [7]:
# DB연동 패키지 설치필요
# pip install cx_Oracle

In [10]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='oracleresult_cse'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

# 3. 데이터 불러오기 from 데이터베이스(mysql)

In [11]:
# DB연동 패키지 설치필요
# python2 
# pip install mysql-python 
# pip install sqlalchemy 
# python3 
# pip install pymysql 
# pip install sqlalchemy

In [4]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine = create_engine('mysql+pymysql://kopo:kopo@localhost:3306/kopo') 
engine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  T11473  4165.700000    3          6.7    1.780674  Big-Screen-lover
1  T11512  3428.518977    2          4.7    3.483573      Sleeping-dog
2  T12735  3993.263836    2          4.8    2.535829      Sleeping-dog
3  T13866  3732.900000    2          5.1    2.812051  Big-Screen-lover
4  T16556  3166.013276    2          6.4    0.900000        Early-bird

In [5]:
# 컬럼해더 재정의
customerData.columns = ['CUSTID1','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
customerData.head()

  CUSTID1     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  T11473  4165.700000    3          6.7    1.780674  Big-Screen-lover
1  T11512  3428.518977    2          4.7    3.483573      Sleeping-dog
2  T12735  3993.263836    2          4.8    2.535829      Sleeping-dog
3  T13866  3732.900000    2          5.1    2.812051  Big-Screen-lover
4  T16556  3166.013276    2          6.4    0.900000        Early-bird

In [12]:
# 데이터 저장
resultname='mysqlresult_cse'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

# 4.데이터 불러오기 from 데이터베이스(postgre)

In [16]:
#pip install psycopg2

In [3]:
# PANDAS 패키지 불러오기
import pandas as pd 
import psycopg2
from sqlalchemy import create_engine 

# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData1 = pd.read_csv("../dataset/customerdata.csv")


# DB 커넥션 열기
engine1 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 
engine2 = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine1) 
customerData

# 컬럼해더 재정의
customerData.columns = ['CUSTID1','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']
customerData1.columns = ['CUSTID2','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())
print(customerData1.head())

  CUSTID1     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
2  E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
3  E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
4  E19404  3764.940414    2          6.5    0.900000        Early-bird
  CUSTID2     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [ ]:
# 데이터 저장
resultname='postgreresult_cse'
customerData.to_sql(resultname, engine2, if_exists='replace', index=False)

# 퀴즈)데이터 불러오기 from 데이터베이스(sql server)-mssql

### 첫번째 방법

In [2]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql
import pymssql 
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine1 = create_engine('mssql+pymssql://haiteam:kopo1234!@192.168.110.107:1433/kopo') 
engine2 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/kopo')

customerData = pd.read_sql_query('select * from kopo_product_volume', engine1) 
customerData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0001   201501  513598.0
1      A01       ST0001   201502  438251.0
2      A01       ST0001   201503  420290.0
3      A01       ST0001   201504  458431.0
4      A01       ST0001   201505  482381.0

### 두번째 방법

In [28]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymssql 
from sqlalchemy import create_engine 

def executeQuery(sql_query):
    connection_string = 'mssql+pymssql://haiteam:kopo1234!@192.168.110.107:1433/kopo'
    engine = create_engine(connection_string)
    
    df = pd.read_sql(sql_query, engine)
    return df

storeData = executeQuery("select * from kopo_product_volume")


engine2 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')
storeData.columns = ['REGIONID_CSE','PRODUCTGROUP_CSE','YEARWEEK_CSE','VOLUME']
storeData.head()

  REGIONID_CSE PRODUCTGROUP_CSE YEARWEEK_CSE    VOLUME
0          A01           ST0001       201501  513598.0
1          A01           ST0001       201502  438251.0
2          A01           ST0001       201503  420290.0
3          A01           ST0001       201504  458431.0
4          A01           ST0001       201505  482381.0

In [ ]:
# 데이터 저장
resultname='kopo_product_volume_cse'
storeData.to_sql(resultname, engine2, if_exists='replace', index=False)

# 4.데이터 불러오기 from web(BeautifulSoup 라이브러리)

In [3]:
#pip install beautifulsoup4


import requests, bs4, pandas as pd
#웹페이지 html 소스 가져오기
resp = requests.get('http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 구조 태그로 가져오기
title = bs.find("title").text
wf = bs.find("wf").text
print(title)
print(wf)

기상청 육상 중기예보
이번 예보기간에는 고기압의 영향으로 대체로 맑은 날이 많겠습니다.  <br />기온은 평년(최저기온: 15~20도, 최고기온: 22~29도)과 전반에는 비슷하겠고, 후반에는 조금 높겠습니다.<br />강수량은 평년(3~19mm)보다 적겠습니다.

### 1. 태그 찾기-find

In [ ]:
bs = bs4.BeautifulSoup(html, “html.parser”)
# div에서 클래스가 class_db_quiz인것만 추출
divs = bs.find or findAll(“태그명”)
print(divs)

In [9]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_tag = bs.find("div")
print(find_tag)

<div class="class_py_quiz" id="id_py_quiz">
<h1>Python 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link"> 6/14 파이썬 데이터 불러오기/저장하기 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link"> 6/8 postgres 과제 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link"> 6/8 파이썬 제어문 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link"> 6/7 파이썬 자료형 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link"> 5/31 파이썬 머신러닝 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link"> 5/24 파이썬 시작하기 </a>
<p></p>
</div>

### 2. 속성 찾기

In [ ]:
bs = bs4.BeautifulSoup(html, “html.parser”)
# findAll : 모두찾기 find : 한개만
findAttr = bs.findAll or find(“태그명”, {“속성명[id or class]”:”속성이름“})

In [3]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 태그 속성으로 찾기
find_attr = bs.find("div",{"id":"id_db_quiz"})
print(find_attr)

print("========================================================================================")
find_attr1 = bs.find("div",{"class":"class_db_quiz"})
print(find_attr1)

<div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>
========================================================================================
<div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>

### 3. 태그 내 DOM 부분구조

In [ ]:
bs = bs4.BeautifulSoup(html, “html.parser”)
# findAll : 모두찾기 find : 한개만
findAttr = bs.findAll or find(“태그명”, {“속성명”:”속성이름“})
find_part = find_attr.find(“a”)

In [4]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_attr = bs.find("div",{"id":"id_db_quiz"})
find_part = find_attr.find("a")
#find_part = find_attr.findAll("a")
print(find_part)

<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>

### 4. DOM 구조 내 속성 찾기

In [ ]:
bs = bs4.BeautifulSoup(html, “html.parser”)
# findAll : 모두찾기 find : 한개만
findAttr = bs.findAll or find(“태그명”, {“속성명”:”속성이름“})
print(find_part.find("a").attrs['href'])

In [44]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
find_part = bs.find("div",{"id":"id_db_quiz"})
# 링크내 속성 가져오기
link = find_part.find("a")
print(find_part.find("a").attrs['href'])
print(link.attrs['href'])

https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link

#### (예제)퀴즈내 링크만 전부 FOR LOOP를 활용하여 추출하세요!

In [61]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
a_link = bs.findAll("a")
print(a_link)

for i in a_link:
    href = i.attrs['href']
    text = i.text
    
    if(href.startswith("/")):
        continue;
    print(text, ">", href)

[<a class="active" href="/">Home</a>, <a href="/quiz"> Quiz </a>, <a href="/maps/add">좌표 등록</a>, <a href="/maps">등록좌표 목록</a>, <a href="/maps/geomap">지도 화면</a>, <a href="/maps/chart">파이차트 화면</a>, <a href="/maps/chartLine">라인차트 화면</a>, <a href="/maps/gitList">git저장소 목록</a>, <a href="/test">test</a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link"> 6/14 파이썬 데이터 불러오기/저장하기 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link"> 6/8 postgres 과제 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link"> 6/8 파이썬 제어문 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link"> 6/7 파이썬 자료형 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link"> 5/31 파이썬 머신러닝 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link"> 5/24 파이썬 시작하기 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link"> 5/3 Spark 심화과정-groupby</a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link"> 4/27 Spark 심화과정 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link"> 4/12 Spark 기본과정 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>, <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>]
 6/14 파이썬 데이터 불러오기/저장하기  > https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link
 6/8 postgres 과제  > https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link
 6/8 파이썬 제어문  > https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link
 6/7 파이썬 자료형  > https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link
 5/31 파이썬 머신러닝  > https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link
 5/24 파이썬 시작하기  > https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link
 5/3 Spark 심화과정-groupby > https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link
 4/27 Spark 심화과정  > https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link
 4/12 Spark 기본과정  > https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link
 6/12 오라클 Join 퀴즈  > https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link
 6/5 오라클 GroupBy 퀴즈  > https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link
 5/29 오라클 숫자/날짜 및 고급함수  > https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link
 5/15 오라클 데이터 조회(함수활용)   > https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link
 5/8 오라클 원격접속 및 조회  > https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link
 4/10 무결성 제약조건  > https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link

### 5. select 편

In [65]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get("http://finance.naver.com/marketindex/")
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# 데이터 추출하기
price = bs.select_one("div.head_info > span.value").string
print("usd/krw= ", price)

# 리스트 초기화 및 데이터 담기
outList = []
outList.append(price)

# 리스트 pandas 데이터 프레임으로 변환 및 컬럼 정의
outDf = pd.DataFrame(np.array(outList).reshape(1,1))
outDf.columns = ['title']
# CSV 파일로 저장, encondig 한글깨짐 방지
outDf.to_csv("../dataset/webData.csv", encoding='utf-8-sig',index=False)
outDf

usd/krw=  1,083.00

      title
0  1,083.00

In [ ]:
bs = bs4.BeautifulSoup(html, “html.parser”)
# div에서 id가 id_db_quiz인것만 추출
divs = bs.select(“태그명#id명 >  다음 태그”)
print(divs)

In [63]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, "html.parser")
# div에서 id가 id_db_quiz인것만 추출
divs = bs.select("div#id_db_quiz")
print(divs)

[<div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>]

In [ ]:
bs = bs4.BeautifulSoup(html, “html.parser”)
# div에서 id가 id_db_quiz인것만 추출
divs = bs.select(“태그명.클래스명 >  다음 태그”)
print(divs)

In [67]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, "html.parser")
# div에서 id가 id_db_quiz인것만 추출
divs = bs.select("div.class_db_quiz")
print(divs)

[<div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>]

In [72]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, "html.parser")

# div에서 class가 class_db_quiz인것만 추출 (1개)
seone = bs.select_one("div.class_db_quiz > a").string   
print(seone)
print("================================================")
# div에서 class가 class_db_quiz인것만 추출 (다수)
divs = bs.select("div.class_db_quiz > a")
for li in divs:
    print(li.string)

 6/12 오라클 Join 퀴즈
================================================
 6/12 오라클 Join 퀴즈
 6/5 오라클 GroupBy 퀴즈
 5/29 오라클 숫자/날짜 및 고급함수
 5/15 오라클 데이터 조회(함수활용)
 5/8 오라클 원격접속 및 조회
 4/10 무결성 제약조건

### 5. 테이블 스크랩 - 컬럼편

In [ ]:
bs = bs4.BeautifulSoup(html, “html.parser”)
# 테이블에서 th 헤더부분만 추출
columns = bs.select(“테이블 >  tr > th”)
print(columns)

In [83]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
columns = bs.select('table > thead > tr > th')
print(columns)
type(columns)

[<th>geo_name</th>, <th>longitude</th>, <th>latitude</th>, <th>Action</th>]

list

In [84]:
columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)

df

Empty DataFrame
Columns: [geo_name, longitude, latitude, Action]
Index: []

In [93]:
contents=bs.select('table  > tbody > tr#trbody')
dfcontent=[]
alldfcontents=[]
for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
        #print(dfcontent)
    alldfcontents.append(dfcontent)
    print(alldfcontents)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)
df

[['polytech_kangseo2', '126.840918', '37.549506', '\n\nEdit \xa0                            \n                    \n\n\n\n\n']]
[['polytech_kangseo2', '126.840918', '37.549506', '\n\nEdit \xa0                            \n                    \n\n\n\n\n'], ['coffeekorea_seulleng', '127.0478832', '37.50567504', '\n\nEdit \xa0                            \n                    \n\n\n\n\n']]

,geo_name,longitude,latitude,Action
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

### (예제) gitlist 목록을 스크랩하여 csv 파일로 추출하세요

In [98]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps/gitList')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
#print(bs)
# html 부분구조 가져오기
columns = bs.select('table > tr > th')
print(columns)

[<th>순번</th>, <th>학생 이름</th>, <th>GIT 주소(뒷부분)</th>, <th>수정</th>]

In [106]:
columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)

df

Empty DataFrame
Columns: [순번, 학생 이름, GIT 주소(뒷부분), 수정]
Index: []

In [137]:
contents=bs.select('table > tr')
#print(contents)
dfcontent=[]
alldfcontents=[]
for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
        #print(dfcontent)
    alldfcontents.append(dfcontent)
    #print(alldfcontents)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)
#df
finalDf = df[["순번","학생 이름","GIT 주소(뒷부분)"]]
#finalDf
finalDf.columns = ['번호','이름','git주소']
finalDf

      번호              이름          git주소
0   None            None           None
1      1  KIM GANG RYONG         wovmxl
2      2     KIM DO WOON      dowoonkim
3      3     KIM EUI JIN          doogn
4      4   NOH YOUNG WOO      ppoocoder
5      5  PARK SEUNG JIN         tmdwls
6      6    SUNG HAN BIN     sunghanbin
7      7   SHIN SUNG WOO      sinletsgo
8      8       OH MI JIN        ohmijin
9      9   LEE DONG GEUN          awd45
10    10    LEE WOO SEOK        creed35
11    11     LEE EUN SIL    milklandcoo
12    12     LEE HAN MIN         yumras
13    13     LEE HYO JAE        freespa
14    14  JUNG KYUNG HWA       JungKH89
15    15  JEONG YU SEOCK    jeongyuseoc
16    16    JUNG HYO JAE      jamiewell
17    17   CHO DONG YEOK       jody0406
18    18   JO JEONG YEON          hera7
19    19   CHAE SUNG EUN     sechae0528
20    20  CHOI KYUNG JAE        ckt9636
21    21   CHOI DONG HUN    MakeBelieve
22    22   CHOI MIN SUNG       sakurac0
23    23     HA TAE YANG      hataeyang
24    24    YOON SUNG HO     youtoo1116
25    25     KIM JI SUNG       binggugu
26    26    CHOI MIN HAN  do not submit

In [138]:
finalDf.to_csv("../dataset/gitList.csv", encoding='utf-8-sig',index=False)