In [9]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
2  E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
3  E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
4  E19404  3764.940414    2          6.5    0.900000        Early-bird

# 1. 원하는 행(레코드) 조회하기

#### 데이터프레임명[( 조건식#1 )&(조건식#2)]
#### 데이터프레임명.query(‘ 조건식‘)

In [24]:
#조건설정
answer1 = customerData[ (customerData.EMI==3) & (customerData.DEVICECOUNT>5) ]
print(answer1.head())

#answer2 갯수
len(answer2)

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE    CUSTTYPE
8   F17131  3179.708359    3          6.5         1.1  Early-bird
14  G16437  3787.328898    3          6.7         1.0  Early-bird
17  G18402  3402.199381    3          6.5         1.0  Early-bird
21  H16326  3988.935304    3          6.5         0.9  Early-bird
26  I12899  3018.895637    3          6.4         0.9  Early-bird

19

In [10]:
answer2 = customerData.query('EMI == 3 & DEVICECOUNT > 5')
answer2.head()

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE    CUSTTYPE
8   F17131  3179.708359    3          6.5         1.1  Early-bird
14  G16437  3787.328898    3          6.7         1.0  Early-bird
17  G18402  3402.199381    3          6.5         1.0  Early-bird
21  H16326  3988.935304    3          6.5         0.9  Early-bird
26  I12899  3018.895637    3          6.4         0.9  Early-bird

### 예제 : kopo_customerdata 테이블에서 gender == male 이면서 email > 0 인 데이터를 추출하세요

In [25]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData1 = pd.read_sql_query('SELECT * FROM kopo_customerdata', engine) 

# 데이터 VIEW
customerData1.head()

,customercode,statename,st,gender,dob,gender1,email,fest_cnt,total_amount,ac_amount,av_amount,ha_amount,emi_ce_amount,is_highend,cnt_vist,gap_visit
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [26]:
answer3 = customerData1[ (customerData1.gender=='Male') & (customerData1.email>0) ]
print(answer3.head())

len(answer3)

    customercode statename  st gender  dob  gender1  email  fest_cnt  \
0        1503989    State2   2   Male    0        1      1         0
16       1154228    State2   2   Male    0        1      1         0
81        393246    State2   2   Male    0        1      1         1
206      2532568    State2   2   Male    1        1      1         0
216       487928    State2   2   Male    0        1      1         0

     total_amount  ac_amount  av_amount  ha_amount  emi_ce_amount  is_highend  \
0           30300          0      30300          0              0           0
16          18200          0          0      18200              0           0
81          18200          0          0      18200              0           0
206         48000      48000          0          0              0           0
216         72300          0      27900      44400              0           0

     cnt_vist  gap_visit
0           1          0
16          1          0
81          1          0
206         1          0
216         1          0

9836

# 2.원하는 컬럼 조회하기

#### 데이터프레임명[ [ ‘컬럼명1’, ‘컬럼명2’ ] ]
#### 데이터프레임명.filter(items=[ ‘컬럼명1’, ‘컬럼명2’])

In [27]:
# 데이터프레임 리스트 활용하기
customerDataC = customerData[['CUSTID','EMI']]

# filter 함수 활용하기
customerDataC = customerData.filter(items=['CUSTID','EMI'])
customerDataC.head()

   CUSTID  EMI
0  E11917    2
1  E16075    2
2  E16221    2
3  E18145    2
4  E19404    2

### 예제 : kopo_customerdata 테이블에서 customercode, statename, gender, total_amount 컬럼만 추출하세요

In [28]:
customerData1C = customerData1[['customercode','statename','gender','total_amount']]
customerData1C.head()

  customercode statename  gender  total_amount
0      1503989    State2    Male         30300
1      1190338    State2    Male         46500
2      1424715    State2  Female         22700
3      2483305    State2    Male         31400
4      1178802    State2    Male         44900

In [29]:
customerData1C = customerData1.filter(items=['customercode','statename','gender','total_amount'])
customerData1C.head()

  customercode statename  gender  total_amount
0      1503989    State2    Male         30300
1      1190338    State2    Male         46500
2      1424715    State2  Female         22700
3      2483305    State2    Male         31400
4      1178802    State2    Male         44900

# 3. 인덱스 활용하여 조회하기

#### 데이터프레임명.iloc[ : , : ]  # 앞에는 행 인덱스 뒤에는 열 인덱스   ‘:’ 만 활용 시 전체

In [32]:
# 인덱스로 조회하기
# dfc1 = customerData.iloc[행시작:행까지,열시작:열까지]
dfc1 = customerData.iloc[0:1,:]
dfc1

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  E11917    3516.5    2          5.5     2.08754  Big-Screen-lover

### 예제 : kopo_customerdata 테이블에서 0~5번째 행의 statename, gender를 선택하세요

In [51]:
dfc11 = customerData1.iloc[0:6,[1,3]]
dfc11

  statename  gender
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male
5    State2    Male

#### 데이터프레임명.loc[ : , : ]  # 앞에는 행 인덱스 뒤에는 컬럼 이름

In [54]:
# 인덱스로 조회하기
dfc2 = customerData.loc[0:2,["CUSTID","AVGPRICE"]]
dfc2

   CUSTID     AVGPRICE
0  E11917  3516.500000
1  E16075  3418.048887
2  E16221  3408.300000

# 4. 이상 데이터 정제하기

#### 데이터프레임명[‘컬럼명‘] = np.where( 조건식, yes값, no값)

In [30]:
# numpy 라이브러리 
import numpy as np

#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
customerData["PRODUCTAGE_NEW"] = np.\
where(customerData["PRODUCTAGE"] < 1, 1, customerData["PRODUCTAGE"])

customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000

### 예제: productage가 1보다작으면 1 2보다작으면2 3보다작으면3 이외는 5라고 새로운 컬럼 product_age_new를 생성하세요

In [16]:
import numpy as np

#step = [1,2,3]
step = list(range(1,4))
maxValue = 5

customerData["PRODUCT_AGE_NEW"] = np.where(customerData["PRODUCTAGE"] < step[0], step[0], \
                                            np.where(customerData["PRODUCTAGE"]< step[1],step[1],\
                                            np.where(customerData["PRODUCTAGE"]< step[2],step[2],\
                                            maxValue)))
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCT_AGE_NEW,PRODUCTAGE_NEW2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1,1
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.000000,1,1
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,2.128362,3,3
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.725892,2,2
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,1.100000,2,2
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,3.273196,5,5

In [13]:
#컬럼 추가 생성 및 조건에 따른 컬럼명 변경
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] < 2:
        return 2
    elif df['PRODUCTAGE'] < 3:
        return 3
    else:
        return 5

customerData["PRODUCTAGE_NEW2"] =customerData.apply(refining, axis=1)
customerData.head(10)

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCT_AGE_NEW,PRODUCTAGE_NEW2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1,1
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.000000,1,1
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,2.128362,3,3
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.725892,2,2
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,1.100000,2,2
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,3.273196,5,5

# 5.데이터 정렬하기 (sort, order by)

#### 데이터프레임명.sort_values([‘컬럼1’,’컬럼2’,..], ascending=[True, False])

In [17]:
customerData.sort_values(["CUSTID","AVGPRICE"], ascending=[True,False]) 
#컬럼1에대해서는 오름차순, 커럼2에 대해서는 내림차순
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCT_AGE_NEW,PRODUCTAGE_NEW2
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.087540,3,3
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.771469,3,3
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.988682,2,2
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.521029,2,2
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.000000,1,1

# 6. 데이터 요약분석하기(group by)

#### 데이터프레임명.groupby([‘컬럼명’]).집계함수

In [19]:
# 평균 구하기
meanValue = customerData.\
groupby(['CUSTTYPE','EMI'], as_index=True).\
mean() #평균구하는 함수

meanValue

                         AVGPRICE  DEVICECOUNT  PRODUCTAGE  PRODUCTAGE_NEW  \
CUSTTYPE         EMI
Big-Screen-lover 1    3246.000000     5.000000    1.891624        1.891624
                 2    3535.317391     5.508696    2.223247        2.223247
                 3    4111.600000     6.400000    1.838520        1.838520
Early-bird       1    2390.083736     6.300000    1.000000        1.000000
                 2    3232.445885     6.460606    0.936364        1.021212
                 3    3455.966035     6.475000    0.962500        1.031250
Sleeping-dog     1    3185.918464     3.833333    2.357587        2.357587
                 2    3504.298670     4.353659    2.724274        2.724274

                      PRODUCT_AGE_NEW  PRODUCTAGE_NEW2
CUSTTYPE         EMI
Big-Screen-lover 1           2.000000         2.000000
                 2           2.804348         2.804348
                 3           2.333333         2.333333
Early-bird       1           2.000000         2.000000
                 2           1.242424         1.242424
                 3           1.437500         1.437500
Sleeping-dog     1           2.777778         2.777778
                 2           3.463415         3.463415

## rolling

In [2]:
customerData["TEST"] = customerData["PRODUCTAGE"].rolling(window=5, center=True).mean()
#center가 True이면 이동평균, 그 값 중심으로 양옆 2개씩을 합한 5개의 평균을 구함
#center가 False이면 앞에 4개포함 자기자신까지의 평균을 나타냄.
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,NaN
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,NaN
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,1.802078
10,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,2.126039
11,G11453,2744.815881,2,6.4,0.900000,Early-bird,2.579485
12,G15439,3559.617754,2,4.5,3.345695,Sleeping-dog,2.124846
13,G15736,3624.700000,2,5.7,3.367229,Big-Screen-lover,2.173441
14,G16437,3787.328898,3,6.7,1.000000,Early-bird,2.490043
15,G16681,3216.438150,2,4.4,2.254282,Sleeping-dog,2.020904
16,G16922,3817.503097,2,4.6,2.483010,Sleeping-dog,1.507458
17,G18402,3402.199381,3,6.5,1.000000,Early-bird,1.487458
18,G19717,2873.102202,2,6.5,0.800000,Early-bird,1.236602
19,H10188,4020.245162,2,6.7,0.900000,Early-bird,0.920000
20,H15023,3323.202071,2,6.3,1.000000,Early-bird,1.093171
21,H16326,3988.935304,3,6.5,0.900000,Early-bird,1.507794
22,H16434,3145.232489,2,3.5,1.865857,Sleeping-dog,1.831923
23,H18821,3665.543492,2,4.4,2.873112,Sleeping-dog,1.811923
24,H19829,3624.700000,2,5.7,2.520646,Big-Screen-lover,1.811923
25,I11601,3437.818388,2,6.3,0.900000,Early-bird,1.988687
26,I12899,3018.895637,3,6.4,0.900000,Early-bird,1.841904
27,I14835,3374.091339,1,4.0,2.749678,Sleeping-dog,1.517775
28,I17056,2963.370122,1,3.3,2.139196,Sleeping-dog,1.859365
29,I17780,2804.267157,2,6.3,0.900000,Early-bird,2.096706
...,...,...,...,...,...,...,...
120,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,2.379346
121,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,2.030094
122,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,1.643023
123,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1.635343
124,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1.688142
125,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,1.451341
126,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,1.745601
127,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1.906590
128,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,1.727983
129,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,1.571085
130,Z19835,3326.526183,2,6.7,1.200000,Early-bird,1.927489
131,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2.094870
132,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,1.933881
133,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,2.184612
134,A16605,3713.211107,2,6.6,0.900000,Early-bird,2.406109
135,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.049705
136,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,1.921030
137,B18816,3213.911446,2,6.4,0.900000,Early-bird,2.155029
138,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,2.266986
139,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,2.332377
140,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,2.530702
141,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,2.445185
142,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2.191186
143,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,2.281972
144,D11795,2991.014703,2,6.4,0.800000,Early-bird,2.241451
145,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,2.378678
146,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,2.532027
147,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,2.796478
148,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,NaN
149,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,NaN

In [3]:
import math
suborder = math.floor(5/2)
suborder

2

In [9]:
list2 = [1,2]

In [11]:
for i in range(0, suborder):
    customerData.loc[i,"TEST"] = list2[i]
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,1.000000
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.000000
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.487615

In [12]:
for i in range(0,suborder):
    customerData["TEST"][i] = list2[i]
customerData.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,1.000000
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.000000
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.487615

In [4]:
first_list = []
for i in range(0,suborder):
    first_list.append(customerData["PRODUCTAGE"][0:i+suborder].mean())
first_list

[2.42950459765736, 2.2825638908675567]

In [5]:
last_list = []
for i in range(0,suborder):
    last_list.append(customerData["PRODUCTAGE"][i-suborder-1:].mean())
last_list

[2.534667877644923, 2.513123518857175]

In [6]:
for i in range(0,suborder):
    customerData["TEST"][i] = first_list[i]
    
for i in range(0,suborder):
    customerData["TEST"][len(customerData)-(1+i)] = last_list[i]

customerData

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,E11917,3516.500000,2,5.5,2.087540,Big-Screen-lover,2.429505
1,E16075,3418.048887,2,4.2,2.771469,Sleeping-dog,2.282564
2,E16221,3408.300000,2,5.0,1.988682,Big-Screen-lover,1.853744
3,E18145,3408.300000,2,4.9,1.521029,Big-Screen-lover,1.616236
4,E19404,3764.940414,2,6.5,0.900000,Early-bird,1.487615
5,F10222,3191.065822,2,6.5,0.900000,Early-bird,1.435057
6,F12979,4165.700000,2,6.1,2.128362,Big-Screen-lover,1.350851
7,F14866,3137.800000,2,5.1,1.725892,Big-Screen-lover,1.825490
8,F17131,3179.708359,3,6.5,1.100000,Early-bird,2.047751
9,F18646,3334.244233,2,4.5,3.273196,Sleeping-dog,1.802078
10,F19938,3732.900000,2,5.4,2.011303,Big-Screen-lover,2.126039
11,G11453,2744.815881,2,6.4,0.900000,Early-bird,2.579485
12,G15439,3559.617754,2,4.5,3.345695,Sleeping-dog,2.124846
13,G15736,3624.700000,2,5.7,3.367229,Big-Screen-lover,2.173441
14,G16437,3787.328898,3,6.7,1.000000,Early-bird,2.490043
15,G16681,3216.438150,2,4.4,2.254282,Sleeping-dog,2.020904
16,G16922,3817.503097,2,4.6,2.483010,Sleeping-dog,1.507458
17,G18402,3402.199381,3,6.5,1.000000,Early-bird,1.487458
18,G19717,2873.102202,2,6.5,0.800000,Early-bird,1.236602
19,H10188,4020.245162,2,6.7,0.900000,Early-bird,0.920000
20,H15023,3323.202071,2,6.3,1.000000,Early-bird,1.093171
21,H16326,3988.935304,3,6.5,0.900000,Early-bird,1.507794
22,H16434,3145.232489,2,3.5,1.865857,Sleeping-dog,1.831923
23,H18821,3665.543492,2,4.4,2.873112,Sleeping-dog,1.811923
24,H19829,3624.700000,2,5.7,2.520646,Big-Screen-lover,1.811923
25,I11601,3437.818388,2,6.3,0.900000,Early-bird,1.988687
26,I12899,3018.895637,3,6.4,0.900000,Early-bird,1.841904
27,I14835,3374.091339,1,4.0,2.749678,Sleeping-dog,1.517775
28,I17056,2963.370122,1,3.3,2.139196,Sleeping-dog,1.859365
29,I17780,2804.267157,2,6.3,0.900000,Early-bird,2.096706
...,...,...,...,...,...,...,...
120,Y10906,3408.300000,2,6.0,2.131432,Big-Screen-lover,2.379346
121,Y12458,2976.211190,1,3.5,2.199677,Sleeping-dog,2.030094
122,Y13678,3408.300000,2,5.6,2.084005,Big-Screen-lover,1.643023
123,Z11525,3259.018704,3,6.4,0.900000,Early-bird,1.635343
124,Z12343,3498.896985,2,6.6,0.900000,Early-bird,1.688142
125,Z12772,3029.600000,2,4.9,2.093035,Big-Screen-lover,1.451341
126,Z13253,3678.800000,2,5.9,2.463670,Big-Screen-lover,1.745601
127,Z13534,3662.437527,3,6.6,0.900000,Early-bird,1.906590
128,Z16428,3516.500000,2,5.8,2.371301,Big-Screen-lover,1.727983
129,Z16735,3300.100000,2,5.6,1.704942,Big-Screen-lover,1.571085
130,Z19835,3326.526183,2,6.7,1.200000,Early-bird,1.927489
131,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2.094870
132,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,1.933881
133,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,2.184612
134,A16605,3713.211107,2,6.6,0.900000,Early-bird,2.406109
135,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.049705
136,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,1.921030
137,B18816,3213.911446,2,6.4,0.900000,Early-bird,2.155029
138,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,2.266986
139,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,2.332377
140,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,2.530702
141,C18306,4005.005142,2,4.7,3.113618,Sleeping-dog,2.445185
142,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2.191186
143,C19178,3624.700000,2,5.6,2.137246,Big-Screen-lover,2.281972
144,D11795,2991.014703,2,6.4,0.800000,Early-bird,2.241451
145,D13030,3227.855655,2,4.8,3.467370,Sleeping-dog,2.378678
146,D15289,4165.700000,2,6.9,2.911016,Big-Screen-lover,2.532027
147,D17241,4166.533130,2,4.7,2.577757,Sleeping-dog,2.796478
148,D17880,3383.145853,2,4.5,2.903990,Sleeping-dog,2.513124
149,E10778,4165.700000,2,6.7,2.122257,Big-Screen-lover,2.534668

### 예제: EMI 별 MAX 값을 구하세요

In [23]:
# MAX 구하기
maxValue = customerData.\
groupby(['EMI'], as_index=True).max()

maxValue

,CUSTID,AVGPRICE,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,PRODUCT_AGE_NEW,PRODUCTAGE_NEW2
EMI,,,,,,,,
1,Y12458,3419.462596,6.3,2.994395,Sleeping-dog,2.994395,3,3
2,Z19835,4166.533130,6.9,3.483573,Sleeping-dog,3.483573,5,5
3,Z13534,4296.873743,6.9,2.055707,Early-bird,2.055707,3,3

#### 데이터프레임명.groupby([‘컬럼명’]).describe()

In [25]:
# 기본통계치 구하기
stdValue = customerData.\
groupby(['CUSTTYPE','EMI'], as_index=True).\
describe()

stdValue

                     AVGPRICE                                        \
                        count         mean         std          min
CUSTTYPE         EMI
Big-Screen-lover 1        1.0  3246.000000         NaN  3246.000000
                 2       46.0  3535.317391  322.633901  2650.900000
                 3        3.0  4111.600000  195.060324  3895.200000
Early-bird       1        1.0  2390.083736         NaN  2390.083736
                 2       33.0  3232.445885  345.810935  2411.008838
                 3       16.0  3455.966035  412.696326  2811.265932
Sleeping-dog     1        9.0  3185.918464  199.545685  2963.370122
                 2       41.0  3504.298670  317.495859  2857.684730

                                                                          \
                              25%          50%          75%          max
CUSTTYPE         EMI
Big-Screen-lover 1    3246.000000  3246.000000  3246.000000  3246.000000
                 2    3367.725000  3489.450000  3719.375000  4165.700000
                 3    4030.450000  4165.700000  4219.800000  4273.900000
Early-bird       1    2390.083736  2390.083736  2390.083736  2390.083736
                 2    2991.014703  3256.152962  3436.456382  4020.245162
                 3    3145.243316  3464.950624  3703.933945  4296.873743
Sleeping-dog     1    2980.229239  3159.839204  3374.091339  3419.462596
                 2    3266.600816  3481.314549  3706.655001  4166.533130

                     DEVICECOUNT           ...  PRODUCTAGE_NEW2       \
                           count      mean ...              75%  max
CUSTTYPE         EMI                       ...
Big-Screen-lover 1           1.0  5.000000 ...              2.0  2.0
                 2          46.0  5.508696 ...              3.0  5.0
                 3           3.0  6.400000 ...              2.5  3.0
Early-bird       1           1.0  6.300000 ...              2.0  2.0
                 2          33.0  6.460606 ...              1.0  2.0
                 3          16.0  6.475000 ...              2.0  2.0
Sleeping-dog     1           9.0  3.833333 ...              3.0  3.0
                 2          41.0  4.353659 ...              3.0  5.0

                     PRODUCT_AGE_NEW                                          \
                               count      mean       std  min  25%  50%  75%
CUSTTYPE         EMI
Big-Screen-lover 1               1.0  2.000000       NaN  2.0  2.0  2.0  2.0
                 2              46.0  2.804348  0.653863  2.0  2.0  3.0  3.0
                 3               3.0  2.333333  0.577350  2.0  2.0  2.0  2.5
Early-bird       1               1.0  2.000000       NaN  2.0  2.0  2.0  2.0
                 2              33.0  1.242424  0.435194  1.0  1.0  1.0  1.0
                 3              16.0  1.437500  0.512348  1.0  1.0  1.0  2.0
Sleeping-dog     1               9.0  2.777778  0.440959  2.0  3.0  3.0  3.0
                 2              41.0  3.463415  0.897150  2.0  3.0  3.0  3.0


                      max
CUSTTYPE         EMI
Big-Screen-lover 1    2.0
                 2    5.0
                 3    3.0
Early-bird       1    2.0
                 2    2.0
                 3    2.0
Sleeping-dog     1    3.0
                 2    5.0

[8 rows x 48 columns]

# 7.데이터 컬럼 명/값 변경하기

#### 컬럼 명 전체 바꾸기:  데이터프레임명.colums = [‘컬럼명1’,’컬럼명2’,’컬럼명3’,..]
#### 부분 컬럼 명 바꾸기:  데이터프레임명.rename(columns={“변경 전 컬럼명”:”변경 후 컬럼명“})

In [10]:
# 변경전 컬럼
customerData.columns
print(customerData.columns)

#컬럼명 전체 변경
customerData.columns = \
["CUSTID","AVGPRICE","EMI", \
 "DEVICECOUNT", "PRODUCTAGE", "TEST"]

customerData.head()

Index(['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE'], dtype='object')

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE              TEST
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
2  E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
3  E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
4  E19404  3764.940414    2          6.5    0.900000        Early-bird

In [24]:
#컬럼명 부분 변경
customerData.rename(columns={"TEST": "RENAME_COLUMN"})

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE     RENAME_COLUMN
0    E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1    E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
2    E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
3    E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
4    E19404  3764.940414    2          6.5    0.900000        Early-bird
5    F10222  3191.065822    2          6.5    0.900000        Early-bird
6    F12979  4165.700000    2          6.1    2.128362  Big-Screen-lover
7    F14866  3137.800000    2          5.1    1.725892  Big-Screen-lover
8    F17131  3179.708359    3          6.5    1.100000        Early-bird
9    F18646  3334.244233    2          4.5    3.273196      Sleeping-dog
10   F19938  3732.900000    2          5.4    2.011303  Big-Screen-lover
11   G11453  2744.815881    2          6.4    0.900000        Early-bird
12   G15439  3559.617754    2          4.5    3.345695      Sleeping-dog
13   G15736  3624.700000    2          5.7    3.367229  Big-Screen-lover
14   G16437  3787.328898    3          6.7    1.000000        Early-bird
15   G16681  3216.438150    2          4.4    2.254282      Sleeping-dog
16   G16922  3817.503097    2          4.6    2.483010      Sleeping-dog
17   G18402  3402.199381    3          6.5    1.000000        Early-bird
18   G19717  2873.102202    2          6.5    0.800000        Early-bird
19   H10188  4020.245162    2          6.7    0.900000        Early-bird
20   H15023  3323.202071    2          6.3    1.000000        Early-bird
21   H16326  3988.935304    3          6.5    0.900000        Early-bird
22   H16434  3145.232489    2          3.5    1.865857      Sleeping-dog
23   H18821  3665.543492    2          4.4    2.873112      Sleeping-dog
24   H19829  3624.700000    2          5.7    2.520646  Big-Screen-lover
25   I11601  3437.818388    2          6.3    0.900000        Early-bird
26   I12899  3018.895637    3          6.4    0.900000        Early-bird
27   I14835  3374.091339    1          4.0    2.749678      Sleeping-dog
28   I17056  2963.370122    1          3.3    2.139196      Sleeping-dog
29   I17780  2804.267157    2          6.3    0.900000        Early-bird
..      ...          ...  ...          ...         ...               ...
120  Y10906  3408.300000    2          6.0    2.131432  Big-Screen-lover
121  Y12458  2976.211190    1          3.5    2.199677      Sleeping-dog
122  Y13678  3408.300000    2          5.6    2.084005  Big-Screen-lover
123  Z11525  3259.018704    3          6.4    0.900000        Early-bird
124  Z12343  3498.896985    2          6.6    0.900000        Early-bird
125  Z12772  3029.600000    2          4.9    2.093035  Big-Screen-lover
126  Z13253  3678.800000    2          5.9    2.463670  Big-Screen-lover
127  Z13534  3662.437527    3          6.6    0.900000        Early-bird
128  Z16428  3516.500000    2          5.8    2.371301  Big-Screen-lover
129  Z16735  3300.100000    2          5.6    1.704942  Big-Screen-lover
130  Z19835  3326.526183    2          6.7    1.200000        Early-bird
131  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
132  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
133  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
134  A16605  3713.211107    2          6.6    0.900000        Early-bird
135  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog
136  B16849  3755.263391    2          4.7    2.786665      Sleeping-dog
137  B18816  3213.911446    2          6.4    0.900000        Early-bird
138  C10639  3516.500000    2          5.2    2.564830  Big-Screen-lover
139  C12717  3732.900000    2          5.7    2.069995  Big-Screen-lover
140  C15050  4020.173425    2          4.9    3.013440      Sleeping-dog
141  C18306  4005.005142    2          4.7    3.113618      Sleeping-dog
142  C18622  3246.000000    1          5.0    1.891624  Big-Screen-lover
143  C19178  3624.700000    2          5.6    2.137246  Big-Screen-lover
144  D11795  2991.014703    2          6.4    0.800000        Early-bird
145  D13030  3227.855655    2          4.8    3.467370      Sleeping-dog
146  D15289  4165.700000    2          6.9    2.911016  Big-Screen-lover
147  D17241  4166.533130    2          4.7    2.577757      Sleeping-dog
148  D17880  3383.145853    2          4.5    2.903990      Sleeping-dog
149  E10778  4165.700000    2          6.7    2.122257  Big-Screen-lover

[150 rows x 6 columns]

### 예제: kopo_customerdata 데이터를 불러온 후 STATENAME컬럼만 STNAME으로 변경하세요

In [22]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData1 = pd.read_sql_query('SELECT * FROM kopo_customerdata', engine) 

# 컬럼해더 재정의
#컬럼 재정의(대문자로 바꾸는 방법)
customerData1.columns = [x.upper() for x in customerData1.columns]
customerData1.head()

# 데이터 VIEW
customerData1.head()

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [26]:
renamedData = customerData1.rename(columns={"STATENAME": "STNAME"})
renamedData.head()

,CUSTOMERCODE,STNAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

#### 컬럼 값 바꾸기 #1 → 데이터프레임명[‘컬럼명‘].iloc[index]=2
#### 컬럼 값 바꾸기 #2 → 데이터프레임명[‘컬럼명’].iloc[index] = 데이터프레임명[‘컬럼명’].iloc[0:5].mean()

In [30]:
# 컬럼 값 바꾸기#1
customerData['TEST'].loc[0:]=1
customerData.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE  TEST
0  E11917  3516.500000    2          5.5    2.087540   1.0
1  E16075  3418.048887    2          4.2    2.771469   1.0
2  E16221  3408.300000    2          5.0    1.988682   1.0
3  E18145  3408.300000    2          4.9    1.521029   1.0
4  E19404  3764.940414    2          6.5    0.900000   1.0

In [31]:
# 컬럼 값 바꾸기#2
customerData['TEST'].loc[0:]=customerData['TEST'].loc[0:5].mean()
customerData.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE  TEST
0  E11917  3516.500000    2          5.5    2.087540   1.0
1  E16075  3418.048887    2          4.2    2.771469   1.0
2  E16221  3408.300000    2          5.0    1.988682   1.0
3  E18145  3408.300000    2          4.9    1.521029   1.0
4  E19404  3764.940414    2          6.5    0.900000   1.0