In [23]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  E11917  3516.500000    2          5.5    2.087540  Big-Screen-lover
1  E16075  3418.048887    2          4.2    2.771469      Sleeping-dog
2  E16221  3408.300000    2          5.0    1.988682  Big-Screen-lover
3  E18145  3408.300000    2          4.9    1.521029  Big-Screen-lover
4  E19404  3764.940414    2          6.5    0.900000        Early-bird

# 1. 원하는 행(레코드) 조회하기

#### 데이터프레임명[( 조건식#1 )&(조건식#2)]
#### 데이터프레임명.query(‘ 조건식‘)

In [24]:
#조건설정
answer1 = customerData[ (customerData.EMI==3) & (customerData.DEVICECOUNT>5) ]
print(answer1.head())

#answer2 갯수
len(answer2)

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE    CUSTTYPE
8   F17131  3179.708359    3          6.5         1.1  Early-bird
14  G16437  3787.328898    3          6.7         1.0  Early-bird
17  G18402  3402.199381    3          6.5         1.0  Early-bird
21  H16326  3988.935304    3          6.5         0.9  Early-bird
26  I12899  3018.895637    3          6.4         0.9  Early-bird

19

In [10]:
answer2 = customerData.query('EMI == 3 & DEVICECOUNT > 5')
answer2.head()

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE    CUSTTYPE
8   F17131  3179.708359    3          6.5         1.1  Early-bird
14  G16437  3787.328898    3          6.7         1.0  Early-bird
17  G18402  3402.199381    3          6.5         1.0  Early-bird
21  H16326  3988.935304    3          6.5         0.9  Early-bird
26  I12899  3018.895637    3          6.4         0.9  Early-bird

### 예제 : kopo_customerdata 테이블에서 gender == male 이면서 email > 0 인 데이터를 추출하세요

In [25]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData1 = pd.read_sql_query('SELECT * FROM kopo_customerdata', engine) 

# 데이터 VIEW
customerData1.head()

,customercode,statename,st,gender,dob,gender1,email,fest_cnt,total_amount,ac_amount,av_amount,ha_amount,emi_ce_amount,is_highend,cnt_vist,gap_visit
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [26]:
answer3 = customerData1[ (customerData1.gender=='Male') & (customerData1.email>0) ]
print(answer3.head())

len(answer3)

    customercode statename  st gender  dob  gender1  email  fest_cnt  \
0        1503989    State2   2   Male    0        1      1         0
16       1154228    State2   2   Male    0        1      1         0
81        393246    State2   2   Male    0        1      1         1
206      2532568    State2   2   Male    1        1      1         0
216       487928    State2   2   Male    0        1      1         0

     total_amount  ac_amount  av_amount  ha_amount  emi_ce_amount  is_highend  \
0           30300          0      30300          0              0           0
16          18200          0          0      18200              0           0
81          18200          0          0      18200              0           0
206         48000      48000          0          0              0           0
216         72300          0      27900      44400              0           0

     cnt_vist  gap_visit
0           1          0
16          1          0
81          1          0
206         1          0
216         1          0

9836

# 2.원하는 컬럼 조회하기

#### 데이터프레임명[ [ ‘컬럼명1’, ‘컬럼명2’ ] ]
#### 데이터프레임명.filter(items=[ ‘컬럼명1’, ‘컬럼명2’])

In [27]:
# 데이터프레임 리스트 활용하기
customerDataC = customerData[['CUSTID','EMI']]

# filter 함수 활용하기
customerDataC = customerData.filter(items=['CUSTID','EMI'])
customerDataC.head()

   CUSTID  EMI
0  E11917    2
1  E16075    2
2  E16221    2
3  E18145    2
4  E19404    2

### 예제 : kopo_customerdata 테이블에서 customercode, statename, gender, total_amount 컬럼만 추출하세요

In [28]:
customerData1C = customerData1[['customercode','statename','gender','total_amount']]
customerData1C.head()

  customercode statename  gender  total_amount
0      1503989    State2    Male         30300
1      1190338    State2    Male         46500
2      1424715    State2  Female         22700
3      2483305    State2    Male         31400
4      1178802    State2    Male         44900

In [29]:
customerData1C = customerData1.filter(items=['customercode','statename','gender','total_amount'])
customerData1C.head()

  customercode statename  gender  total_amount
0      1503989    State2    Male         30300
1      1190338    State2    Male         46500
2      1424715    State2  Female         22700
3      2483305    State2    Male         31400
4      1178802    State2    Male         44900

# 3. 인덱스 활용하여 조회하기

#### 데이터프레임명.iloc[ : , : ]  # 앞에는 행 인덱스 뒤에는 열 인덱스   ‘:’ 만 활용 시 전체

In [32]:
# 인덱스로 조회하기
# dfc1 = customerData.iloc[행시작:행까지,열시작:열까지]
dfc1 = customerData.iloc[0:1,:]
dfc1

   CUSTID  AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  E11917    3516.5    2          5.5     2.08754  Big-Screen-lover

### 예제 : kopo_customerdata 테이블에서 0~5번째 행의 statename, gender를 선택하세요

In [51]:
dfc11 = customerData1.iloc[0:6,[1,3]]
dfc11

  statename  gender
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male
5    State2    Male

#### 데이터프레임명.loc[ : , : ]  # 앞에는 행 인덱스 뒤에는 열 인덱스   ‘:’ 만 활용 시 전체

In [54]:
# 인덱스로 조회하기
dfc2 = customerData.loc[0:2,["CUSTID","AVGPRICE"]]
dfc2

   CUSTID     AVGPRICE
0  E11917  3516.500000
1  E16075  3418.048887
2  E16221  3408.300000

# 4. 이상 데이터 정제하기