# 1. [데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 ORACLE 테이블에 KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [4]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine = create_engine('mysql+pymysql://kopo:kopo@localhost:3306/kopo') 
engine1 = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')
engine2 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine1) 
print(customerData.head())

# 데이터 저장
resultname='KOPO_PY_채성은_FINAL1'
customerData.to_sql(resultname, engine2, if_exists='replace', index=False)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

# 2. [데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [21]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine = create_engine('mysql+pymysql://kopo:kopo@localhost:3306/kopo') 
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine) 
customerData.head()

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [22]:
answer = customerData[ (customerData.yearweek.str[0:4] == '2016')]
answer.head()

   regionid productgroup yearweek    volume
82      A01       ST0001   201605  661049.0
83      A01       ST0002   201605  231214.0
84      A01       ST0001   201603  531372.0
85      A01       ST0002   201603  152763.0
86      A01       ST0001   201601  651243.0

In [20]:
# 데이터 저장
resultname='KOPO_PY_채성은_FINAL2'
answer.to_sql(resultname, engine, if_exists='replace', index=False)

###### 처음부터 바꿔서 불러오는 방법

In [ ]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine = create_engine('mysql+pymysql://kopo:kopo@localhost:3306/kopo') 
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME WHERE TO_CHAR(SUBSTR(yearweek,1,4)) = 2016', engine) 
customerData.head()

# 3. [스크래핑] https://www.timeanddate.com/holidays/south-korea/ 사이트에서 화면에 보이는 테이블의 holiday정보를 스크래핑 하여 아래 이미지와 동일한 컬럼의 정보를 추출한 후 KOPO_PY_{이름}_FINAL3 테이블로 생성하세요 [심심하면 Date도 같이..저장하세요]

In [16]:
import requests, bs4, pandas as pd
#웹페이지 html 소스 가져오기
resp = requests.get('http://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')
bs

holiday_List=bs.select("tbody > tr")
holiday_List

[<tr class="c0" id="tr0"><th class="nw">Jan 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr1"><th class="nw">Feb 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics start</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr2"><th class="nw">Feb 14</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/valentines-day">Valentine's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr3"><th class="nw">Feb 15</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/seollal-holiday-1">Seollal Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr4"><th class="nw">Feb 16</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/seollal-holiday-2">Seollal</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr5"><th class="nw">Feb 17</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/seollal-holiday-3">Seollal Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr6"><th class="nw">Feb 25</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-olympics-2018">2018 Winter Olympics end</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr7"><th class="nw">Mar 1</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/independence-movement-day">Independence Movement Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr8"><th class="nw">Mar 9</th><td class="nw">Friday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics start</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr9"><th class="nw">Mar 18</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/winter-paralympics-2018">2018 Winter Paralympics end</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr10"><th class="nw">Mar 20</th><td class="nw">Tuesday</td><td><a href="/calendar/march-equinox.html">March equinox</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr11"><th class="nw">Apr 5</th><td class="nw">Thursday</td><td><a href="/holidays/southkorea/arbor-day">Arbor Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr12"><th class="nw">May 1</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/labor-day">Labor Day</a></td><td>Bank Holiday</td></tr>,
 <tr class="c1" id="tr13"><th class="nw">May 5</th><td class="nw">Saturday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr14"><th class="nw">May 7</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/childrens-day">Children's Day observed</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr15"><th class="nw">May 8</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/parents-day">Parents' Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr16"><th class="nw">May 15</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/teachers-day">Teacher's Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr17"><th class="nw">May 22</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/buddha-birthday">Buddha's Birthday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr18"><th class="nw">Jun 6</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/memorial-day">Memorial Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr19"><th class="nw">Jun 13</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/local-election-day">Local Election Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr20"><th class="nw">Jun 21</th><td class="nw">Thursday</td><td><a href="/calendar/june-solstice.html">June Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr21"><th class="nw">Jul 17</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/constitution-day">Constitution Day</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr22"><th class="nw">Aug 15</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/liberation-day">Liberation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr23"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/calendar/september-equinox.html">September equinox</a></td><td>Season</td></tr>,
 <tr class="c0" id="tr24"><th class="nw">Sep 23</th><td class="nw">Sunday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-1">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr25"><th class="nw">Sep 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-2">Chuseok</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr26"><th class="nw">Sep 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-3">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr27"><th class="nw">Sep 26</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/mid-autumn-festival-day-4">Chuseok Holiday</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr28"><th class="nw">Oct 1</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/armed-forces-day">Armed Forces Day</a></td><td>Observance</td></tr>,
 <tr class="c1" id="tr29"><th class="nw">Oct 3</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/national-foundation-day">National Foundation Day</a></td><td>National holiday</td></tr>,
 <tr class="c0" id="tr30"><th class="nw">Oct 9</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/hangeul-day">Hangeul Proclamation Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr31"><th class="nw">Oct 31</th><td class="nw">Wednesday</td><td><a href="/holidays/southkorea/halloween">Halloween</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr32"><th class="nw">Dec 21</th><td class="nw">Friday</td><td><a href="/calendar/december-solstice.html">December Solstice</a></td><td>Season</td></tr>,
 <tr class="c1" id="tr33"><th class="nw">Dec 24</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/christmas-eve">Christmas Eve</a></td><td>Observance</td></tr>,
 <tr class="c0" id="tr34"><th class="nw">Dec 25</th><td class="nw">Tuesday</td><td><a href="/holidays/southkorea/christmas-day">Christmas Day</a></td><td>National holiday</td></tr>,
 <tr class="c1" id="tr35"><th class="nw">Dec 31</th><td class="nw">Monday</td><td><a href="/holidays/southkorea/new-year-eve">New Year's Eve</a></td><td>Observance</td></tr>]

In [14]:
holiday_dateList = []
holiday_weekList =[]
holiday_nameList = []
holiday_typeList = []


for holiday_one in holiday_List:
    holiday_date = holiday_one.find("th",{"class":"nw"}).text
    holiday_week = holiday_one.find("td",{"class":"nw"}).text    
    holiday_name = holiday_one.find("a").text
    holiday_type = holiday_one.find("td").text
   
    holiday_dateList.append(holiday_date)
    holiday_weekList.append(holiday_week)
    holiday_nameList.append(holiday_name)
    holiday_typeList.append(holiday_type)
    
list0 = pd.DataFrame(holiday_dateList, dtype=str)
list1 = pd.DataFrame(holiday_weekList, dtype=str)
list2 = pd.DataFrame(holiday_nameList, dtype=str)
list3 = pd.DataFrame(holiday_typeList, dtype=str)
final = pd.concat([list0,list1,list2,list3], axis=1)
final.columns=['DATE','WEEK', 'HOLIDAY_NAME','HOLIDAY_TYPE']
final

      DATE       WEEK                   HOLIDAY_NAME HOLIDAY_TYPE
0    Jan 1     Monday                 New Year's Day       Monday
1    Feb 9     Friday     2018 Winter Olympics start       Friday
2   Feb 14  Wednesday                Valentine's Day    Wednesday
3   Feb 15   Thursday                Seollal Holiday     Thursday
4   Feb 16     Friday                        Seollal       Friday
5   Feb 17   Saturday                Seollal Holiday     Saturday
6   Feb 25     Sunday       2018 Winter Olympics end       Sunday
7    Mar 1   Thursday      Independence Movement Day     Thursday
8    Mar 9     Friday  2018 Winter Paralympics start       Friday
9   Mar 18     Sunday    2018 Winter Paralympics end       Sunday
10  Mar 20    Tuesday                  March equinox      Tuesday
11   Apr 5   Thursday                      Arbor Day     Thursday
12   May 1    Tuesday                      Labor Day      Tuesday
13   May 5   Saturday                 Children's Day     Saturday
14   May 7     Monday        Children's Day observed       Monday
15   May 8    Tuesday                   Parents' Day      Tuesday
16  May 15    Tuesday                  Teacher's Day      Tuesday
17  May 22    Tuesday              Buddha's Birthday      Tuesday
18   Jun 6  Wednesday                   Memorial Day    Wednesday
19  Jun 13  Wednesday             Local Election Day    Wednesday
20  Jun 21   Thursday                  June Solstice     Thursday
21  Jul 17    Tuesday               Constitution Day      Tuesday
22  Aug 15  Wednesday                 Liberation Day    Wednesday
23  Sep 23     Sunday              September equinox       Sunday
24  Sep 23     Sunday                Chuseok Holiday       Sunday
25  Sep 24     Monday                        Chuseok       Monday
26  Sep 25    Tuesday                Chuseok Holiday      Tuesday
27  Sep 26  Wednesday                Chuseok Holiday    Wednesday
28   Oct 1     Monday               Armed Forces Day       Monday
29   Oct 3  Wednesday        National Foundation Day    Wednesday
30   Oct 9    Tuesday       Hangeul Proclamation Day      Tuesday
31  Oct 31  Wednesday                      Halloween    Wednesday
32  Dec 21     Friday              December Solstice       Friday
33  Dec 24     Monday                  Christmas Eve       Monday
34  Dec 25    Tuesday                  Christmas Day      Tuesday
35  Dec 31     Monday                 New Year's Eve       Monday

In [ ]:
# 데이터 저장
resultname='KOPO_PY_채성은_FINAL2'
final.to_sql(resultname, engine, if_exists='replace', index=False)