# kopo_product_volume 테이블을 불러온 후 다음 과정을 진행 하세요. 모든 주차에 이동평균을 window 5로 설정하여 구한 후 (빈 셀은 존재하는 날개에 대해서만) RATIO 컬럼을 추가하여 VOLUME/이동평균 값으로 넣으세요

In [1]:
def sub_function(data):
    data["MA"] = data["VOLUME"].rolling(window = 5, center = True).mean()
    return data

In [24]:
def sub_function2(data):
    data = data.reset_index(drop=True)
    postList = []
    maxLength = len(data)
    print(data)
    #print(maxLength)
    for i in range(0,suborder):
        postList.append(data["VOLUME"][(maxLength-1)-(suborder+i):maxLength].mean())
        data.loc[maxLength-i-1,"MA"] = postList[i]
    return data

In [27]:
def sub_function3(data):
    data = data.reset_index(drop=True)
    preList = []
    for i in range(0,suborder):
        preList.append(data["VOLUME"][0:suborder+i+1].mean())
        data.loc[i,"MA"] = preList[i]
    return data

#### 데이터 불러오기

In [7]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_product_volume2', engine)

#### 컬럼명 대문자 변환

In [8]:
#컬럼 재정의(대문자로 바꾸는 방법)
customerData.columns = [x.upper() for x in customerData.columns]
customerData.head()

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626
2      A01       ST0002   201520  125863
3      A01       ST0001   201515  810144
4      A01       ST0002   201515  128999

#### 정렬하기(sort)

In [9]:
customerData = customerData.sort_values(["REGIONID","PRODUCTGROUP","YEARWEEK"], ascending=[True,True,True]) 
#컬럼1에대해서는 오름차순, 커럼2에 대해서는 내림차순
customerData.head()

   REGIONID PRODUCTGROUP YEARWEEK  VOLUME
36      A01       ST0001   201501  513598
24      A01       ST0001   201502  438251
30      A01       ST0001   201503  420290
38      A01       ST0001   201504  458431
26      A01       ST0001   201505  482381

#### 인덱스 초기화

In [10]:
customerData = customerData.reset_index(drop=True)
customerData.head()

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0001   201501  513598
1      A01       ST0001   201502  438251
2      A01       ST0001   201503  420290
3      A01       ST0001   201504  458431
4      A01       ST0001   201505  482381

#### 이동평균 구간 정의

In [11]:
import math
#이동평균 구간
order = 5
# 앞뒤로 비어있게될 구간 크기
suborder = math.floor(order/2)

#### 이동평균 구하기(rolling)

In [30]:
customerData["MA"] = customerData["VOLUME"].rolling(window=order, center=True).mean()
#center가 True이면 이동평균, 그 값 중심으로 양옆 2개씩을 합한 5개의 평균을 구함
#center가 False이면 앞에 4개포함 자기자신까지의 평균을 나타냄.
customerData.head()
customerData.tail()

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME        MA
154      A01       ST0002   201616  137927.0  465147.0
155      A01       ST0002   201609  154149.0  367831.6
156      A01       ST0001   201614  739977.0  385389.8
157      A01       ST0002   201614  148835.0       NaN
158      A01       ST0001   201641  746061.0       NaN

#### ========================================================================================================

### group 묶어주기!!!!

In [18]:
groupResult = customerData.groupby(["REGIONID","PRODUCTGROUP"]).apply(sub_function)
groupResult.head(2)

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME  MA
0      A01       ST0001   201501  513598 NaN
1      A01       ST0001   201502  438251 NaN

In [20]:
groupResult2.to_csv("d:/test2.csv")

In [32]:
groupResult2 = groupResult.groupby(["REGIONID","PRODUCTGROUP"]).apply(sub_function2)
groupResult2.head()

    REGIONID PRODUCTGROUP YEARWEEK   VOLUME        MA
0        A01       ST0001   201501   513598       NaN
1        A01       ST0001   201502   438251       NaN
2        A01       ST0001   201503   420290  462590.2
3        A01       ST0001   201504   458431  473953.0
4        A01       ST0001   201505   482381  510381.2
5        A01       ST0001   201506   570412  540679.4
6        A01       ST0001   201507   620392  562902.2
7        A01       ST0001   201508   571781  568761.8
8        A01       ST0001   201509   569545  559636.8
9        A01       ST0001   201510   511679  532860.2
10       A01       ST0001   201511   524787  512512.0
11       A01       ST0001   201512   486509  484242.0
12       A01       ST0001   201513   470040  543935.0
13       A01       ST0001   201514   428195  591963.0
14       A01       ST0001   201515   810144  634161.6
15       A01       ST0001   201516   764927  674446.4
16       A01       ST0001   201517   697502  725358.8
17       A01       ST0001   201518   671464  692455.2
18       A01       ST0001   201519   682757  663527.8
19       A01       ST0001   201520   645626  644648.2
20       A01       ST0001   201521   620290  632451.2
21       A01       ST0001   201522   603104  613822.4
22       A01       ST0001   201523   610479  608437.0
23       A01       ST0001   201524   589613  601723.2
24       A01       ST0001   201525   618699  600911.0
25       A01       ST0001   201526   586721  596321.0
26       A01       ST0001   201527   599043  602574.8
27       A01       ST0001   201528   587529  607631.8
28       A01       ST0001   201529   620882  624515.2
29       A01       ST0001   201530   643984  640208.4
..       ...          ...      ...      ...       ...
75       A01       ST0001   201623   768124  773383.4
76       A01       ST0001   201624   772706  803234.6
77       A01       ST0001   201625   786218  799315.4
78       A01       ST0001   201626   871247  818349.0
79       A01       ST0001   201627   798282  825718.6
80       A01       ST0001   201628   863292  827359.2
81       A01       ST0001   201629   809554  819589.8
82       A01       ST0001   201630   794421  814857.4
83       A01       ST0001   201631   832400  791806.6
84       A01       ST0001   201632   774620  772171.8
85       A01       ST0001   201633   748038  759807.2
86       A01       ST0001   201634   711380  733605.2
87       A01       ST0001   201635   732598  720292.0
88       A01       ST0001   201636   701390  772258.6
89       A01       ST0001   201637   708054  778906.0
90       A01       ST0001   201638  1007871  770499.0
91       A01       ST0001   201639   744617  779433.2
92       A01       ST0001   201640   690563  771040.8
93       A01       ST0001   201641   746061  679674.2
94       A01       ST0001   201642   666092  650979.2
95       A01       ST0001   201643   551038  629886.2
96       A01       ST0001   201644   601142  606682.0
97       A01       ST0001   201645   585098  681034.2
98       A01       ST0001   201646   630040  745494.8
99       A01       ST0001   201647  1037853  775206.2
100      A01       ST0001   201648   873341  815462.6
101      A01       ST0001   201649   749699  924575.6
102      A01       ST0001   201650   786380  879754.8
103      A01       ST0001   201651  1175605       NaN
104      A01       ST0001   201652   813749       NaN

[105 rows x 5 columns]
    REGIONID PRODUCTGROUP YEARWEEK   VOLUME        MA
0        A01       ST0001   201501   513598       NaN
1        A01       ST0001   201502   438251       NaN
2        A01       ST0001   201503   420290  462590.2
3        A01       ST0001   201504   458431  473953.0
4        A01       ST0001   201505   482381  510381.2
5        A01       ST0001   201506   570412  540679.4
6        A01       ST0001   201507   620392  562902.2
7        A01       ST0001   201508   571781  568761.8
8        A01       ST0001   201509   569545  559636.8
9        A01       ST0001   201510   511679  532860.2
10       A01       ST0001   201511   524787  512512.0
11       A01       ST0001   201512   486509  484242.0
12       A01       ST0001   201513   470040  543935.0
13       A01       ST0001   201514   428195  591963.0
14       A01       ST0001   201515   810144  634161.6
15       A01       ST0001   201516   764927  674446.4
16       A01       ST0001   201517   697502  725358.8
17       A01       ST0001   201518   671464  692455.2
18       A01       ST0001   201519   682757  663527.8
19       A01       ST0001   201520   645626  644648.2
20       A01       ST0001   201521   620290  632451.2
21       A01       ST0001   201522   603104  613822.4
22       A01       ST0001   201523   610479  608437.0
23       A01       ST0001   201524   589613  601723.2
24       A01       ST0001   201525   618699  600911.0
25       A01       ST0001   201526   586721  596321.0
26       A01       ST0001   201527   599043  602574.8
27       A01       ST0001   201528   587529  607631.8
28       A01       ST0001   201529   620882  624515.2
29       A01       ST0001   201530   643984  640208.4
..       ...          ...      ...      ...       ...
75       A01       ST0001   201623   768124  773383.4
76       A01       ST0001   201624   772706  803234.6
77       A01       ST0001   201625   786218  799315.4
78       A01       ST0001   201626   871247  818349.0
79       A01       ST0001   201627   798282  825718.6
80       A01       ST0001   201628   863292  827359.2
81       A01       ST0001   201629   809554  819589.8
82       A01       ST0001   201630   794421  814857.4
83       A01       ST0001   201631   832400  791806.6
84       A01       ST0001   201632   774620  772171.8
85       A01       ST0001   201633   748038  759807.2
86       A01       ST0001   201634   711380  733605.2
87       A01       ST0001   201635   732598  720292.0
88       A01       ST0001   201636   701390  772258.6
89       A01       ST0001   201637   708054  778906.0
90       A01       ST0001   201638  1007871  770499.0
91       A01       ST0001   201639   744617  779433.2
92       A01       ST0001   201640   690563  771040.8
93       A01       ST0001   201641   746061  679674.2
94       A01       ST0001   201642   666092  650979.2
95       A01       ST0001   201643   551038  629886.2
96       A01       ST0001   201644   601142  606682.0
97       A01       ST0001   201645   585098  681034.2
98       A01       ST0001   201646   630040  745494.8
99       A01       ST0001   201647  1037853  775206.2
100      A01       ST0001   201648   873341  815462.6
101      A01       ST0001   201649   749699  924575.6
102      A01       ST0001   201650   786380  879754.8
103      A01       ST0001   201651  1175605       NaN
104      A01       ST0001   201652   813749       NaN

[105 rows x 5 columns]
    REGIONID PRODUCTGROUP YEARWEEK   VOLUME        MA
0        A01       ST0002   201501   155729       NaN
1        A01       ST0002   201502   123875       NaN
2        A01       ST0002   201503   114744  142405.2
3        A01       ST0002   201504   137162  139114.8
4        A01       ST0002   201505   180516  143635.0
5        A01       ST0002   201506   139277  152040.6
6        A01       ST0002   201507   146476  152972.8
7        A01       ST0002   201508   156772  147500.0
8        A01       ST0002   201509   141823  148746.4
9        A01       ST0002   201510   153152  149801.2
10       A01       ST0002   201511   145509  146506.2
11       A01       ST0002   201512   151750  145639.2
12       A01       ST0002   201513   140297  140808.6
13       A01       ST0002   201514   137488  139769.4
14       A01       ST0002   201515   128999  134852.0
15       A01       ST0002   201516   140313  133686.0
16       A01       ST0002   201517   127163  131922.0
17       A01       ST0002   201518   134467  131294.8
18       A01       ST0002   201519   128668  129814.0
19       A01       ST0002   201520   125863  133027.6
20       A01       ST0002   201521   132909  131194.2
21       A01       ST0002   201522   143231  133378.6
22       A01       ST0002   201523   125300  133959.2
23       A01       ST0002   201524   139590  134419.8
24       A01       ST0002   201525   128766  142683.6
25       A01       ST0002   201526   135212  146143.2
26       A01       ST0002   201527   184550  149222.2
27       A01       ST0002   201528   142598  150268.6
28       A01       ST0002   201529   154985  151372.6
29       A01       ST0002   201530   133998  141375.4
..       ...          ...      ...      ...       ...
75       A01       ST0002   201623   161983  182354.2
76       A01       ST0002   201624   171592  180455.2
77       A01       ST0002   201625   157283  175136.4
78       A01       ST0002   201626   196489  180960.8
79       A01       ST0002   201627   188335  179276.6
80       A01       ST0002   201628   191105  181600.8
81       A01       ST0002   201629   163171  178229.0
82       A01       ST0002   201630   168904  183596.8
83       A01       ST0002   201631   179630  185687.2
84       A01       ST0002   201632   215174  189415.2
85       A01       ST0002   201633   201557  201626.8
86       A01       ST0002   201634   181811  212169.8
87       A01       ST0002   201635   229962  202697.0
88       A01       ST0002   201636   232345  197321.2
89       A01       ST0002   201637   167810  196283.0
90       A01       ST0002   201638   174678  185201.6
91       A01       ST0002   201639   176620  172111.8
92       A01       ST0002   201640   174555  167732.6
93       A01       ST0002   201641   166896  164455.2
94       A01       ST0002   201642   145914  164926.8
95       A01       ST0002   201643   158291  168443.2
96       A01       ST0002   201644   178978  223462.6
97       A01       ST0002   201645   192137  526921.0
98       A01       ST0002   201646   441993  637624.0
99       A01       ST0002   201647  1663206  657525.8
100      A01       ST0002   201648   711806  683149.0
101      A01       ST0002   201649   278487  675070.8
102      A01       ST0002   201650   320253  384066.8
103      A01       ST0002   201651   401602       NaN
104      A01       ST0002   201652   208186       NaN

[105 rows x 5 columns]

                        REGIONID PRODUCTGROUP YEARWEEK  VOLUME        MA
REGIONID PRODUCTGROUP
A01      ST0001       0      A01       ST0001   201501  513598       NaN
                      1      A01       ST0001   201502  438251       NaN
                      2      A01       ST0001   201503  420290  462590.2
                      3      A01       ST0001   201504  458431  473953.0
                      4      A01       ST0001   201505  482381  510381.2

In [33]:
groupResult2.head()

                        REGIONID PRODUCTGROUP YEARWEEK  VOLUME        MA
REGIONID PRODUCTGROUP
A01      ST0001       0      A01       ST0001   201501  513598       NaN
                      1      A01       ST0001   201502  438251       NaN
                      2      A01       ST0001   201503  420290  462590.2
                      3      A01       ST0001   201504  458431  473953.0
                      4      A01       ST0001   201505  482381  510381.2

In [120]:
groupResult2.to_csv("d:/groupResult2.csv", index=False)

In [31]:
groupResult3 = groupResult2.groupby(["REGIONID","PRODUCTGROUP"]).apply(sub_function3)
groupResult3.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'PRODUCTGROUP' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

                        REGIONID PRODUCTGROUP YEARWEEK  VOLUME             MA
REGIONID PRODUCTGROUP
A01      ST0001       0      A01       ST0001   201501  513598  457379.666667
                      1      A01       ST0001   201502  438251  457642.500000
                      2      A01       ST0001   201503  420290  462590.200000
                      3      A01       ST0001   201504  458431  473953.000000
                      4      A01       ST0001   201505  482381  510381.200000

In [29]:
groupResult3.to_csv("d:/groupResult3.csv", index=False)

In [30]:
groupResult3 = groupResult3.reset_index(drop=True)
groupResult3

    REGIONID PRODUCTGROUP YEARWEEK   VOLUME             MA
0        A01       ST0001   201501   513598  457379.666667
1        A01       ST0001   201502   438251  457642.500000
2        A01       ST0001   201503   420290  462590.200000
3        A01       ST0001   201504   458431  473953.000000
4        A01       ST0001   201505   482381  510381.200000
5        A01       ST0001   201506   570412  540679.400000
6        A01       ST0001   201507   620392  562902.200000
7        A01       ST0001   201508   571781  568761.800000
8        A01       ST0001   201509   569545  559636.800000
9        A01       ST0001   201510   511679  532860.200000
10       A01       ST0001   201511   524787  512512.000000
11       A01       ST0001   201512   486509  484242.000000
12       A01       ST0001   201513   470040  543935.000000
13       A01       ST0001   201514   428195  591963.000000
14       A01       ST0001   201515   810144  634161.600000
15       A01       ST0001   201516   764927  674446.400000
16       A01       ST0001   201517   697502  725358.800000
17       A01       ST0001   201518   671464  692455.200000
18       A01       ST0001   201519   682757  663527.800000
19       A01       ST0001   201520   645626  644648.200000
20       A01       ST0001   201521   620290  632451.200000
21       A01       ST0001   201522   603104  613822.400000
22       A01       ST0001   201523   610479  608437.000000
23       A01       ST0001   201524   589613  601723.200000
24       A01       ST0001   201525   618699  600911.000000
25       A01       ST0001   201526   586721  596321.000000
26       A01       ST0001   201527   599043  602574.800000
27       A01       ST0001   201528   587529  607631.800000
28       A01       ST0001   201529   620882  624515.200000
29       A01       ST0001   201530   643984  640208.400000
..       ...          ...      ...      ...            ...
180      A01       ST0002   201623   161983  182354.200000
181      A01       ST0002   201624   171592  180455.200000
182      A01       ST0002   201625   157283  175136.400000
183      A01       ST0002   201626   196489  180960.800000
184      A01       ST0002   201627   188335  179276.600000
185      A01       ST0002   201628   191105  181600.800000
186      A01       ST0002   201629   163171  178229.000000
187      A01       ST0002   201630   168904  183596.800000
188      A01       ST0002   201631   179630  185687.200000
189      A01       ST0002   201632   215174  189415.200000
190      A01       ST0002   201633   201557  201626.800000
191      A01       ST0002   201634   181811  212169.800000
192      A01       ST0002   201635   229962  202697.000000
193      A01       ST0002   201636   232345  197321.200000
194      A01       ST0002   201637   167810  196283.000000
195      A01       ST0002   201638   174678  185201.600000
196      A01       ST0002   201639   176620  172111.800000
197      A01       ST0002   201640   174555  167732.600000
198      A01       ST0002   201641   166896  164455.200000
199      A01       ST0002   201642   145914  164926.800000
200      A01       ST0002   201643   158291  168443.200000
201      A01       ST0002   201644   178978  223462.600000
202      A01       ST0002   201645   192137  526921.000000
203      A01       ST0002   201646   441993  637624.000000
204      A01       ST0002   201647  1663206  657525.800000
205      A01       ST0002   201648   711806  683149.000000
206      A01       ST0002   201649   278487  675070.800000
207      A01       ST0002   201650   320253  384066.800000
208      A01       ST0002   201651   401602  302132.000000
209      A01       ST0002   201652   208186  310013.666667

[210 rows x 5 columns]

### =========================================================================================

#### 이동평균 빈 셀 체우기

### 뒤쪽평균

##### 첫번째 방법(마이너스 인덱스 사용, 마이너스 인덱스는 loc가 안됨)

In [79]:
postList = []
maxLength = len(groupResult)
for i in range(0,suborder):
    postList.append(groupResult["VOLUME"][-(i+suborder+1):maxLength].mean())
    groupResult.loc[maxLength-i-1,"MA"] = postList[i]
postList

[175121.33333333334, 171836.75]

##### 두번째 방법(그냥 maxLengh 사용하는 방법, loc사용가능)

In [15]:
postList = []
maxLength = len(customerData)
for i in range(0,suborder):
    #postList.append(customerData["VOLUME"][(maxLength-1)-(suborder+i):maxLength].mean())
    postList.append(customerData.loc[(maxLength-1)-(suborder+i):maxLength, "VOLUME"].mean())
    customerData.loc[maxLength-i-1,"MA"] = postList[i]    
postList

[544957.6666666666, 447255.5]

### 앞쪽평균

In [80]:
preList = []
for i in range(0,suborder):
    preList.append(groupResult["VOLUME"][0:suborder+i+1].mean())
    groupResult.loc[i,"MA"] = preList[i]
preList

[457379.6666666667, 457642.5]

In [15]:
groupResult

    REGIONID PRODUCTGROUP YEARWEEK    VOLUME             MA
0        A01       ST0001   201501  513598.0            NaN
1        A01       ST0001   201502  438251.0            NaN
2        A01       ST0001   201503  420290.0  462590.200000
3        A01       ST0001   201504  458431.0  473953.000000
4        A01       ST0001   201505  482381.0  510381.200000
5        A01       ST0001   201506  570412.0  540679.400000
6        A01       ST0001   201507  620392.0  562902.200000
7        A01       ST0001   201508  571781.0  568761.800000
8        A01       ST0001   201509  569545.0  559636.800000
9        A01       ST0001   201510  511679.0  532860.200000
10       A01       ST0001   201511  524787.0  512512.000000
11       A01       ST0001   201512  486509.0  484242.000000
12       A01       ST0001   201513  470040.0  543935.000000
13       A01       ST0001   201514  428195.0  591963.000000
14       A01       ST0001   201515  810144.0  634161.600000
15       A01       ST0001   201516  764927.0  674446.400000
16       A01       ST0001   201517  697502.0  725358.800000
17       A01       ST0001   201518  671464.0  692455.200000
18       A01       ST0001   201519  682757.0  663527.800000
19       A01       ST0001   201520  645626.0  644648.200000
20       A01       ST0001   201521  620290.0  632451.200000
21       A01       ST0001   201522  603104.0  613822.400000
22       A01       ST0001   201523  610479.0  608437.000000
23       A01       ST0001   201524  589613.0  601723.200000
24       A01       ST0001   201525  618699.0  600911.000000
25       A01       ST0001   201526  586721.0  596321.000000
26       A01       ST0001   201527  599043.0  602574.800000
27       A01       ST0001   201528  587529.0  607631.800000
28       A01       ST0001   201529  620882.0  624515.200000
29       A01       ST0001   201530  643984.0  640208.400000
..       ...          ...      ...       ...            ...
129      A01       ST0002   201550  294579.0  628673.600000
130      A01       ST0002   201551  356271.0  395110.400000
131      A01       ST0002   201552  422468.0  293728.400000
132      A01       ST0002   201553  232523.0  262249.800000
133      A01       ST0002   201601  162801.0  221548.200000
134      A01       ST0002   201602  137186.0  176466.000000
135      A01       ST0002   201603  152763.0  176204.200000
136      A01       ST0002   201604  197057.0  178090.000000
137      A01       ST0002   201605  231214.0  182917.600000
138      A01       ST0002   201606  172230.0  178365.000000
139      A01       ST0002   201607  161324.0  169783.400000
140      A01       ST0002   201608  130000.0  152055.600000
141      A01       ST0002   201609  154149.0  147792.600000
142      A01       ST0002   201610  142575.0  142083.800000
143      A01       ST0002   201611  150915.0  143241.400000
144      A01       ST0002   201612  132780.0  142178.600000
145      A01       ST0002   201613  135788.0  142299.600000
146      A01       ST0002   201614  148835.0  139702.000000
147      A01       ST0002   201615  143180.0  141601.800000
148      A01       ST0002   201616  137927.0  146956.200000
149      A01       ST0002   201617  142279.0  147785.200000
150      A01       ST0002   201618  162560.0  151331.800000
151      A01       ST0002   201619  152980.0  164943.200000
152      A01       ST0002   201620  160913.0  179473.200000
153      A01       ST0002   201621  205984.0  179357.800000
154      A01       ST0002   201622  214929.0  183080.200000
155      A01       ST0002   201623  161983.0  182354.200000
156      A01       ST0002   201624  171592.0  180455.200000
157      A01       ST0002   201625  157283.0  171836.750000
158      A01       ST0002   201626  196489.0  175121.333333

[159 rows x 5 columns]

#### ==================================================================================

#### 앞쪽 이동평균구하기

In [17]:
first_list = []
for i in range(0,suborder):
    first_list.append(customerData["VOLUME"][0:suborder+1+i].mean())
first_list

[307746.3333333333, 433345.75]

#### 뒤쪽 이동평균구하기

In [112]:
customerData["VOLUME"][-0-suborder-1:]

156    739977.0
157    148835.0
158    746061.0
Name: VOLUME, dtype: float64

In [18]:
last_list = []
for i in range(0,suborder):
    last_list.append(customerData["VOLUME"][-(i+suborder+1):].mean())
last_list

[544957.6666666666, 447255.5]

#### 빈 공간에 값 집어넣기

In [19]:
for i in range(0,suborder):
    customerData["MA"][i] = first_list[i]
    
for i in range(0,suborder):
    customerData["MA"][len(customerData)-(1+i)] = last_list[i]
customerData.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

    REGIONID PRODUCTGROUP YEARWEEK     VOLUME             MA
0        A01       ST0002   201512   151750.0  307746.333333
1        A01       ST0001   201520   645626.0  433345.750000
2        A01       ST0002   201520   125863.0  372476.400000
3        A01       ST0001   201515   810144.0  476419.200000
4        A01       ST0002   201515   128999.0  374187.400000
5        A01       ST0001   201518   671464.0  443022.800000
6        A01       ST0002   201518   134467.0  309053.400000
7        A01       ST0001   201513   470040.0  388211.000000
8        A01       ST0002   201513   140297.0  283020.000000
9        A01       ST0001   201511   524787.0  409112.000000
10       A01       ST0002   201511   145509.0  343166.600000
11       A01       ST0001   201516   764927.0  451658.600000
12       A01       ST0002   201516   140313.0  372434.800000
13       A01       ST0001   201519   682757.0  428972.000000
14       A01       ST0002   201519   128668.0  303484.200000
15       A01       ST0001   201514   428195.0  372723.400000
16       A01       ST0002   201514   137488.0  375672.400000
17       A01       ST0001   201512   486509.0  375371.400000
18       A01       ST0001   201517   697502.0  413810.800000
19       A01       ST0002   201517   127163.0  415608.400000
20       A01       ST0001   201507   620392.0  420642.400000
21       A01       ST0002   201507   146476.0  311772.400000
22       A01       ST0001   201510   511679.0  373990.000000
23       A01       ST0002   201510   153152.0  274686.600000
24       A01       ST0001   201502   438251.0  341867.600000
25       A01       ST0002   201502   123875.0  275635.000000
26       A01       ST0001   201505   482381.0  359360.800000
27       A01       ST0002   201505   180516.0  303065.000000
28       A01       ST0001   201508   571781.0  362348.000000
29       A01       ST0002   201508   156772.0  288820.600000
..       ...          ...      ...        ...            ...
129      A01       ST0002   201619   152980.0  397433.800000
130      A01       ST0001   201624   772706.0  521711.600000
131      A01       ST0002   201624   171592.0  426017.000000
132      A01       ST0001   201622   817878.0  534592.800000
133      A01       ST0002   201622   214929.0  412234.200000
134      A01       ST0001   201620   695859.0  520450.200000
135      A01       ST0002   201620   160913.0  389386.600000
136      A01       ST0001   201618   712672.0  503644.400000
137      A01       ST0002   201618   162560.0  395929.200000
138      A01       ST0001   201625   786218.0  522629.200000
139      A01       ST0002   201625   157283.0  406650.800000
140      A01       ST0001   201612   794413.0  617777.600000
141      A01       ST0002   201612   132780.0  489049.000000
142      A01       ST0001   201610  1218194.0  596576.400000
143      A01       ST0002   201610   142575.0  466149.600000
144      A01       ST0001   201617   694920.0  575287.000000
145      A01       ST0002   201617   142279.0  360284.200000
146      A01       ST0001   201615   678467.0  509054.600000
147      A01       ST0002   201615   143180.0  397228.200000
148      A01       ST0001   201613   886427.0  571088.600000
149      A01       ST0002   201613   135788.0  465578.200000
150      A01       ST0001   201611  1011581.0  564024.600000
151      A01       ST0002   201611   150915.0  518393.200000
152      A01       ST0001   201609   635412.0  518821.000000
153      A01       ST0001   201616   658270.0  347334.600000
154      A01       ST0002   201616   137927.0  465147.000000
155      A01       ST0002   201609   154149.0  367831.600000
156      A01       ST0001   201614   739977.0  385389.800000
157      A01       ST0002   201614   148835.0  447255.500000
158      A01       ST0001   201641   746061.0  544957.666667

[159 rows x 5 columns]

#### RATIO = VOLUME/이동평균

In [20]:
customerData["RATIO"] = customerData["VOLUME"]/customerData["MA"]

customerData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME             MA     RATIO
0      A01       ST0002   201512  151750.0  307746.333333  0.493101
1      A01       ST0001   201520  645626.0  433345.750000  1.489863
2      A01       ST0002   201520  125863.0  372476.400000  0.337909
3      A01       ST0001   201515  810144.0  476419.200000  1.700486
4      A01       ST0002   201515  128999.0  374187.400000  0.344744