In [1]:
# 데이터 프레임 라이브러리 활용
import pandas as pd

# 딕셔너리를 활용한 데이터프레임 생성
data = {'col1': ["A01","A02","A03","A04","A05"],
        'col2': [201501,201501,201501,201501,201501],
        'col3': [100,120,140,160,180]}
dataFrame = pd.DataFrame(data)

# 데이터 프레임 : 스프레드시트 형태의 자료구조
print(dataFrame)

  col1    col2  col3
0  A01  201501   100
1  A02  201501   120
2  A03  201501   140
3  A04  201501   160
4  A05  201501   180

In [2]:
#dataFrame 순서 변환시 or 원하는 컬럼만 가져올때 사용
dataFrame[["col1","col2","col3"]]

  col1    col2  col3
0  A01  201501   100
1  A02  201501   120
2  A03  201501   140
3  A04  201501   160
4  A05  201501   180

# 첫번째 방법

In [3]:
import pandas as pd

data = {'col1': ["A01","A02","A03","A04","A05"],
        'col2': [201501,201501,201501,201501,201501],
        'col3': [100,120,140,160,180]}
dataFrame = pd.DataFrame(data)

dataFrame[["col1","col2","col3"]]

  col1    col2  col3
0  A01  201501   100
1  A02  201501   120
2  A03  201501   140
3  A04  201501   160
4  A05  201501   180

# 두번째 방법

In [7]:
import pandas as pd
from itertools import repeat
a = ["A01","A02","A03","A04","A05"]
b = list(repeat(201501,5))
c = list(range(100,200,20))
my_dict = dict(col1=a, col2=b, col3=c)
testdf = pd.DataFrame(my_dict)
testdf

  col1    col2  col3
0  A01  201501   100
1  A02  201501   120
2  A03  201501   140
3  A04  201501   160
4  A05  201501   180

In [8]:
import itertools as it

In [9]:
dir(it)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_grouper',
 '_tee',
 '_tee_dataobject',
 'accumulate',
 'chain',
 'combinations',
 'combinations_with_replacement',
 'compress',
 'count',
 'cycle',
 'dropwhile',
 'filterfalse',
 'groupby',
 'islice',
 'permutations',
 'product',
 'repeat',
 'starmap',
 'takewhile',
 'tee',
 'zip_longest']

In [10]:
from itertools import repeat as rpt

In [11]:
rpt(10,5)

repeat(10, 5)