# 1. [데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 ORACLE 테이블에 KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [4]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine = create_engine('mysql+pymysql://kopo:kopo@localhost:3306/kopo') 
engine1 = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')
engine2 = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine1) 
print(customerData.head())

# 데이터 저장
resultname='KOPO_PY_채성은_FINAL1'
customerData.to_sql(resultname, engine2, if_exists='replace', index=False)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

# 2. [데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [2]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine = create_engine('mysql+pymysql://kopo:kopo@localhost:3306/kopo') 
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')



# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine) 

#컬럼 재정의(대문자로 바꾸는 방법)
customerData.columns = [x.upper() for x in customerData.columns]
customerData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [44]:
answer = customerData[ (customerData.yearweek.str[0:4] == '2016')]
answer.head()

   regionid productgroup yearweek    volume
82      A01       ST0001   201605  661049.0
83      A01       ST0002   201605  231214.0
84      A01       ST0001   201603  531372.0
85      A01       ST0002   201603  152763.0
86      A01       ST0001   201601  651243.0

In [45]:
# 데이터 저장
resultname='KOPO_PY_채성은_FINAL2'
answer.to_sql(resultname, engine, if_exists='replace', index=False)

###### 처음부터 바꿔서 불러오는 방법

In [ ]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
#engine = create_engine('mysql+pymysql://kopo:kopo@localhost:3306/kopo') 
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME WHERE TO_CHAR(SUBSTR(yearweek,1,4)) = 2016', engine) 
customerData.head()

# 3. [스크래핑] https://www.timeanddate.com/holidays/south-korea/ 사이트에서 화면에 보이는 테이블의 holiday정보를 스크래핑 하여 아래 이미지와 동일한 컬럼의 정보를 추출한 후 KOPO_PY_{이름}_FINAL3 테이블로 생성하세요 [심심하면 Date도 같이..저장하세요]

##### 첫번째 방법(컬럼 하나씩 불러와서 넣어주기)

In [69]:
import requests, bs4, pandas as pd
#웹페이지 html 소스 가져오기
resp = requests.get('http://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')
bs

holiday_List=bs.select("tbody > tr")
holiday_List

holiday_dateList = []
holiday_weekList =[]
holiday_nameList = []

holiday_typeList1=[]
for content in holiday_List:
    aInfos=content.findAll("td")
    for i in aInfos:
        result=i.text
        holiday_typeList1.append(result)         
#print(dfcontent3)

holiday_typeList2=[]
for i in holiday_typeList1:
    if holiday_typeList1.index(i)%3 == 2:
        result=i
        holiday_typeList2.append(result)
print(holiday_typeList2)

['National holiday', 'Observance', 'Observance', 'National holiday', 'National holiday', 'National holiday', 'Observance', 'National holiday', 'Observance', 'Observance', 'Season', 'Observance', 'Bank Holiday', 'National holiday', 'National holiday', 'Observance', 'Observance', 'National holiday', 'National holiday', 'National holiday', 'Season', 'Observance', 'National holiday', 'Season', 'National holiday', 'National holiday', 'National holiday', 'National holiday', 'Observance', 'National holiday', 'National holiday', 'Observance', 'Season', 'Observance', 'National holiday', 'Observance']

In [71]:
for holiday_one in holiday_List:
    holiday_date = holiday_one.find("th",{"class":"nw"}).text
    holiday_week = holiday_one.find("td",{"class":"nw"}).text    
    holiday_name = holiday_one.find("a").text
    
    #holiday_type = holiday_one.findAll("td").text 
   
    holiday_dateList.append(holiday_date)
    holiday_weekList.append(holiday_week)
    holiday_nameList.append(holiday_name)
    #holiday_typeList.append(holiday_type)
    
list0 = pd.DataFrame(holiday_dateList, dtype=str)
list1 = pd.DataFrame(holiday_weekList, dtype=str)
list2 = pd.DataFrame(holiday_nameList, dtype=str)
list3 = pd.DataFrame(holiday_typeList2, dtype=str)
final = pd.concat([list0,list1,list2,list3], axis=1)
final.columns=['DATE','WEEK', 'HOLIDAY_NAME','HOLIDAY_TYPE']
final.head()

     DATE       WEEK                HOLIDAY_NAME      HOLIDAY_TYPE
0   Jan 1     Monday              New Year's Day  National holiday
1   Feb 9     Friday  2018 Winter Olympics start        Observance
2  Feb 14  Wednesday             Valentine's Day        Observance
3  Feb 15   Thursday             Seollal Holiday  National holiday
4  Feb 16     Friday                     Seollal  National holiday

In [55]:
# 데이터 저장
resultname='KOPO_PY_채성은_FINAL3'
final.to_sql(resultname, engine, if_exists='replace', index=False)

##### 두번째 방법 (한꺼번에 불러오기)

In [65]:
import requests, bs4, pandas as pd
#웹페이지 html 소스 가져오기
resp = requests.get('http://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')
bs

holiday_List=bs.select("tbody > tr")
holiday_List

dfcontent=[]
alldfcontents=[]

for content in holiday_List:
    tds=content.select("th,td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
        #print(dfcontent)
    alldfcontents.append(dfcontent)
    #print(alldfcontents)
    dfcontent=[]
df=pd.DataFrame(data=alldfcontents)
df

df.columns = ['DATE','WEEK','HOLIDAY_NAME','HOLIDAY_TYPE']
df.head()

     DATE       WEEK                HOLIDAY_NAME      HOLIDAY_TYPE
0   Jan 1     Monday              New Year's Day  National holiday
1   Feb 9     Friday  2018 Winter Olympics start        Observance
2  Feb 14  Wednesday             Valentine's Day        Observance
3  Feb 15   Thursday             Seollal Holiday  National holiday
4  Feb 16     Friday                     Seollal  National holiday

In [66]:
# 데이터 저장
resultname='KOPO_PY_채성은_FINAL3'
df.to_sql(resultname, engine, if_exists='replace', index=False)