### CSV Connection

In [4]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
    
# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", encoding='utf-8-sig', index=False)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### Oracle connection

In [6]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='oracleresult'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [4]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

# 컬럼해더 재정의
customerData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
engine2 = create_engine('mysql+pymysql://kopo:kopo1234@kopo2.cf0xvfbyuytw.us-east-1.rds.amazonaws.com:3306/kopo') 
resultname='kopo_product_volume'
customerData.to_sql(resultname, engine2, if_exists='replace', index=False)

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626
2      A01       ST0002   201520  125863
3      A01       ST0001   201515  810144
4      A01       ST0002   201515  128999

### Mysql connection

In [3]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
storeData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine) 
storeData.head()

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [11]:
# 컬럼해더 재정의
storeData.columns = ['CS_NAME','LNG','LAT']

# 데이터 VIEW
print(storeData)

# 데이터 저장
resultname='mysqlresult'
storeData.to_sql(resultname, engine, if_exists='replace', index=False)

                  CS_NAME         LNG         LAT
0  coffeekorea_seulleng93  127.047883   37.505675
1                 propose  126.899220   37.471711
2    singsingcoffee_toast  128.980455   35.159774
3            warawara_hof  127.061026   37.493922
4                    test  126.715710   37.460813
5        polytech_kangseo   37.549506  126.840918
6       polytech_kangseo2  126.840918   37.549506

### Sql Server

In [1]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 
engine_mssql = create_engine('mssql+pymssql://haiteam:kopo1234!@192.168.110.107:1433/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_mssql) 

# 컬럼해더 재정의
customerData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# 데이터 VIEW
print(customerData.head())

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0001   201501  513598
1      A01       ST0001   201502  438251
2      A01       ST0001   201503  420290
3      A01       ST0001   201504  458431
4      A01       ST0001   201505  482381

In [8]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymssql 
from sqlalchemy import create_engine 
 
def executeQuery(sql_query):
    connection_string = 'mssql+pymssql://haiteam:kopo1234!@192.168.0.6:1433/kopo'
    engine = create_engine(connection_string)

    df = pd.read_sql(sql_query, engine)

    return df

# DB 테이블을 읽어 Data Frame 변수에 저장하기
storeData =executeQuery("select * from kopo_product_volume")
storeData.head()

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0001   201501  513598
1      A01       ST0001   201502  438251
2      A01       ST0001   201503  420290
3      A01       ST0001   201504  458431
4      A01       ST0001   201505  482381

### Data load from web

In [13]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')
#print(bs)
# html 구조 태그로 가져오기
title = bs.find("title").text
wf = bs.find("wf").text
print(title)
print(wf)

기상청 육상 중기예보
이번 예보기간에는 고기압의 영향으로 대체로 맑은 날이 많겠습니다.  <br />기온은 평년(최저기온: 15~20도, 최고기온: 22~29도)과 전반에는 비슷하겠고, 후반에는 조금 높겠습니다.<br />강수량은 평년(3~19mm)보다 적겠습니다.

### 1. 태그 찾기 - find

In [15]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_tag = bs.findAll("div")
print(find_tag)

[<div class="class_py_quiz" id="id_py_quiz">
<h1>Python 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link"> 6/8 postgres 과제 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link"> 6/8 파이썬 제어문 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link"> 6/7 파이썬 자료형 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link"> 5/31 파이썬 머신러닝 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link"> 5/24 파이썬 시작하기 </a>
<p></p>
</div>, <div class="class_sp_quiz" id="id_sp_quiz">
<h1>Spark 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link"> 5/3 Spark 심화과정-groupby</a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link"> 4/27 Spark 심화과정 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link"> 4/12 Spark 기본과정 </a>
<p></p>
</div>, <div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>]

In [14]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_tag = bs.find("div")
print(find_tag)

<div class="class_py_quiz" id="id_py_quiz">
<h1>Python 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link"> 6/8 postgres 과제 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link"> 6/8 파이썬 제어문 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link"> 6/7 파이썬 자료형 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link"> 5/31 파이썬 머신러닝 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link"> 5/24 파이썬 시작하기 </a>
<p></p>
</div>

### 2. 속성 찾기 - find

In [47]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 태그 속성으로 찾기
find_attr = bs.find("div",{"id":"id_db_quiz"})
print(find_attr)

<div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>

### 3. 태그내 dom 부분구조 찾기

In [48]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_attr = bs.find("div",{"id":"id_db_quiz"})
find_part = find_attr.find("a")
print(find_part)

<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>

### 4. DOM 구조 내 속성 찾기

In [49]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
find_part = bs.find("div",{"id":"id_db_quiz"})
# 링크내 속성 가져오기
link = find_part.find("a")
print(find_part.find("a").attrs['href'])

https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link

### 실습 링크 속성 추출하기

In [24]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
a_links = bs.findAll("a")
for a in a_links:
    #a 링크 내 href 속성
    href=a.attrs["href"]
    #a 링크 텍스트
    text = a.text
    if(href.startswith("/")):
        continue;
    print(text, ">", href)

 6/7 파이썬 자료형  > https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link
 5/31 파이썬 머신러닝  > https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link
 5/24 파이썬 시작하기  > https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link
 5/3 Spark 심화과정-groupby > https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link
 4/27 Spark 심화과정  > https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link
 4/12 Spark 기본과정  > https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link
 6/5 오라클 GroupBy 퀴즈  > https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link
 5/29 오라클 숫자/날짜 및 고급함수  > https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link
 5/15 오라클 데이터 조회(함수활용)   > https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link
 5/8 오라클 원격접속 및 조회  > https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link
 4/10 무결성 제약조건  > https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link

### 테이블

In [37]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
columns=soup.select('table  > tr > th')
columns

In [50]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
columns=soup.select('table > tr > th')
columns

columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)

df

Empty DataFrame
Columns: [geo_name, longitude, latitude, Action]
Index: []

In [63]:
contents=bs.select('table  > tbody > tr#trbody')
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)
df

,geo_name,longitude,latitude,Action
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

In [ ]:
df.to

In [59]:
contents=bs.select('table > tbody > tr')
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)
df

,geo_name,longitude,latitude,Action
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

In [55]:
contents=bs.findAll("tr", {"id":"trbody"})
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)
df

,geo_name,longitude,latitude,Action
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

In [73]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps/gitList')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
columns=bs.select('table > tr > th')

gitColumnlist=[]
for column in columns:
    gitColumnlist.append(column.text)
df=pd.DataFrame(columns=gitColumnlist)
df

Empty DataFrame
Columns: [순번, 학생 이름, GIT 주소(뒷부분), 수정]
Index: []

In [96]:
contents=bs.select('table > tr#gitContents')
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=gitColumnlist, data=alldfcontents, index=None)
df.columns=["no","std_name","git_address","edit"]
finalDf = df[["no","std_name","git_address"]]
print(finalDf.head())
finalDf.to_csv("d:/git_address.csv",index=False)

  no        std_name git_address
0  1  KIM GANG RYONG      wovmxl
1  2     KIM DO WOON   dowoonkim
2  3     KIM EUI JIN       doogn
3  4   NOH YOUNG WOO   ppoocoder
4  5  PARK SEUNG JIN      tmdwls

In [34]:
tds2=content.findAll("td")
tds2

[<td>coffeekorea_seulleng</td>,
 <td>127.0478832</td>,
 <td>37.50567504</td>,
 <td>
 <div style="float:left">
 <a href="/maps/edit/5">Edit</a>
                     <form action="/maps/delete/5" method="post" style="float:right">
 <input name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit" value="Delete"/>
 <input name="_method" type="hidden" value="DELETE"/>
 </form>
 </div>
 </td>]

In [55]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get("http://finance.naver.com/marketindex/")
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# 데이터 추출하기
price = bs.select_one("div.head_info > span.value").string
print("usd/krw= ", price)

# 리스트 초기화 및 데이터 담기
outList = []
outList.append(price)

# 리스트 pandas 데이터 프레임으로 변환 및 컬럼 정의
outDf = pd.DataFrame(np.array(outList).reshape(1,1))
outDf.columns = ['title']
# CSV 파일로 저장, encondig 한글깨짐 방지
#outDf.to_csv("../dataset/webData.csv", encoding='utf-8-sig',index=False)
outDf

usd/krw=  1,069.50

      title
0  1,069.50

In [73]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, "html.parser")

# div에서 id가 id_db_quiz인것만 추출
seone = bs.select_one("div.class_db_quiz > a").string
print(seone)
    
# div에서 id가 id_db_quiz인것만 추출
divs = bs.select("div.class_db_quiz > a")
for li in divs:
    print(li.string)

 6/5 오라클 GroupBy 퀴즈
 6/5 오라클 GroupBy 퀴즈
 5/29 오라클 숫자/날짜 및 고급함수
 5/15 오라클 데이터 조회(함수활용)
 5/8 오라클 원격접속 및 조회
 4/10 무결성 제약조건

In [6]:
h1 = bs.html.body.p
print(h1)

<p></p>

In [68]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_part = bs.find("div",{"id":"id_db_quiz"})

# 링크내 속성 가져오기
for link in find_part.findAll("a"):
    if 'href' in link.attrs:
        print(link.attrs['href'])

https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link

In [57]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
#resp.encoding='utf-8-sig'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

stock_list = bs.select("#myListTop1 > li")
#stock_list = bs.find("ul",{"id":"myListTop1"}).findAll("li")
#stock_list[0].find('a').text
count = 0
stock_nameList = []
stock_priceList = []
for stock_one in stock_list:
    if count > 6:
        break
    stock_name = stock_one.find('a').text
    stock_price = stock_one.find("span",{"class":"cost num"}).text
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1
    #print(count, stock_name, stock_price,count)
list1 = pd.DataFrame(stock_nameList)
list2 = pd.DataFrame(stock_priceList)
final = pd.concat([list1,list2], axis = 1)
final.head()

        0        0
0    삼성전자   48,200
1  SK하이닉스   86,300
2    셀트리온  280,000
3   삼성전자우   38,750
4   POSCO  369,500

### 하둡파일시스템 접근

In [ ]:
import pandas as pd
from hdfs import InsecureClient
import os

client_hdfs = InsecureClient('http://192.168.110.114:50070')
liste_hello = ['hello1','hello2']
liste_world = ['world1','world2']
df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})
df
# Writing Dataframe to hdfs
with client_hdfs.write('/mydata/helloworld.csv', encoding = 'utf-8') as writer:
    df.to_csv(writer)
# ====== Reading files ======
with client_hdfs.read('/mydata/helloworld.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0)